<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <h1>Endpoint heartbeats</h1>
        </div>
    
    </div>

</div>


<div class="container">
    <section name="active_endpoints">
        <div class="row">
            <div class="col-sm-12">
                <h5>active endpoints</h5>
            </div>
        </div>
        <no-data ng-show="model.active.length == 0" message="No active endpoints"></no-data>
        <div class="row">
            <div class="col-sm-12">
                <div class="row box box-no-click" ng-repeat="endpoint in model.active | orderBy:'name'">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="row box-header">
                                    <div class="col-sm-12">
                                        <p class="lead hard-wrap">{{endpoint.name}}@{{endpoint.host_display_name}} </p>
                                        <p>latest heartbeat received <sp-moment date="{{endpoint.heartbeat_information.last_report_at}}"></sp-moment></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
 
    </section>
    <section name="inactive_endpoints">
        
        <div class="row">
            <div class="col-sm-12">
                <h5>inactive endpoints</h5>
            </div>
        </div>
        <no-data ng-show="model.inactive.length == 0" message="No inactive endpoints"></no-data>
        <div class="row">
            <div class="col-sm-12">
                <h5>inactive endpoints</h5>
                <div class="row box box-no-click" ng-repeat="endpoint in model.inactive | orderBy:'name'">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="row box-header">
                                    <div class="col-sm-12">
                                        <p class="lead hard-wrap">{{endpoint.name}}@{{endpoint.host_display_name}} </p>
                                        <p>
                                            latest heartbeat received <sp-moment date="{{endpoint.heartbeat_information.last_report_at}}"></sp-moment>
                                        </p>
                                        <p ng-show="!endpoint.heartbeat_information">No plugin installed</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
              
            </div>
        </div>

    </section>
    
 
</div>
