<div class="row">
 
    <ul class="breadcrumb">
        <li>
            <a href="#/dashboard">Home</a> 
        </li>
        <li>Endpoints Overview</li>
    </ul>
    
</div>


<div class="container">
    <section name="active_endpoints">

        <div class="row">
            <div class="col-md-12">
                <h5>active endpoints</h5>
                <div class="row box box-info" ng-repeat="endpoint in model.active | orderBy:'name'">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <span class="subdued glyphicon glyphicon-heart fa-2x" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-11">
                                <div class="row box-header">
                                    <div class="col-md-12">
                                        <p class="lead hard-wrap">{{endpoint.name}}@{{endpoint.host_display_name}} </p>
                                        <p>latest heartbeat received <sp-moment date="{{endpoint.heartbeat_information.last_report_at}}"></sp-moment></p>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="row box box-warning"  ng-show="model.active.length == 0">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <span class="subdued glyphicon glyphicon-warning-sign fa-2x" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-11">
                                <div class="row box-header">
                                    <div class="col-md-12">
                                        <p class="lead hard-wrap">No Active endpoints</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <section name="inactive_endpoints">

        <div class="row">
            <div class="col-md-12">
                <h5>inactive endpoints</h5>
                <div class="row box box-danger" ng-repeat="endpoint in model.inactive | orderBy:'name'">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <span class="subdued glyphicon glyphicon-heart fa-2x" aria-hidden="true"></span>

                            </div>
                            <div class="col-sm-11">
                                <div class="row box-header">
                                    <div class="col-md-12">
                                        <p class="lead hard-wrap">{{endpoint.name}}@{{endpoint.host_display_name}} </p>
                                        <p>
                                            latest heartbeat received <sp-moment date="{{endpoint.heartbeat_information.last_report_at}}"></sp-moment>
                                        </p>
                                        <p ng-show="!endpoint.heartbeat_information">No plugin installed</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row box box-info" ng-show="model.inactive.length == 0">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-1">
                                
                                <span class="subdued glyphicon glyphicon-warning-sign fa-2x" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-11">
                                <div class="row box-header">
                                    <div class="col-md-12">
                                        <p class="lead hard-wrap">No inactive endpoints</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    

</div>
