<div class="modal-header">
    <h3 class="modal-title">Edit and retry message</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="row msg-editor-tabs">
                <div isolate-click class="col-sm-12 no-side-padding">
                    <div class="tabs msg-tabs">
                        <h5 ng-class="{active: message.panel === 0}" ng-click="togglePanel(message, 0)"><a>Headers</a>
                        </h5>
                        <h5 ng-class="{active: message.panel === 1}" ng-click="togglePanel(message, 1)"><a>Message
                                body</a></h5>
                    </div>
                </div>
            </div>

            <div class="row msg-editor-content">
                <div isolate-click class="col-sm-12 no-side-padding">

                    <div class="row alert alert-warning" ng-show="isEvent">
                        <div class="col-sm-12">
                            <i class="fa fa-exclamation-circle"></i> This message is an event. If it was already successfully handled by
                            other subscribers, editing it now has the risk of changing the semantic meaning of the event and may result in
                            altering the system behavior.
                        </div>
                    </div>
                    <div class="row alert alert-warning" ng-show="!message.isContentTypeSupported">
                        <div class="col-sm-12"><i class="fa fa-exclamation-circle"></i> Message body cannot be edited because content type ({{message.bodyContentType}}) is not supported. Only messages with body content serialized as JSON or XML can be edited.</div>
                    </div>
                    <div class="row alert alert-danger" ng-show="showEditRetryGenericError">
                        <div class="col-sm-12"><i class="fa fa-exclamation-triangle"></i> An error occurred while retrying the message, please check the ServiceControl logs for more details on the failure.</div>
                    </div>

                    <table isolate-click class="table" ng-show="message.panel === 0 && message.messageHeaders">
                        <tbody>
                            <tr class="interactiveList" ng-class="{ 'header-removed': header.isMarkedAsRemoved }"
                                ng-repeat="header in message.messageHeaders track by header.key">
                                <td nowrap="nowrap">
                                    <span ng-class="{ 'header-removed': header.isMarkedAsRemoved }">{{header.key}}</span>
                                    <span ng-show="header.isLocked">
                                        &nbsp;<i class="fa fa-lock"
                                                 uib-tooltip="Protected system header"></i>
                                    </span>
                                    <span ng-show="(header.isChanged || header.isMarkedAsRemoved) && header.isSensitive">
                                        &nbsp;<i class="fa fa-exclamation-triangle"
                                                 uib-tooltip="This is a sensitive message header that if changed can the system behavior. Proceed with caution."></i>
                                    </span>
                                    <span ng-show="header.isChanged">
                                        &nbsp;<i class="fa fa-pencil"
                                                 uib-tooltip="Edited"></i>
                                    </span>
                                </td>
                                <td>
                                    <input isolate-click class="form-control" autocomplete="off" type="text"
                                           ng-class="{ 'header-removed': header.isMarkedAsRemoved }"
                                           ng-disabled="header.isLocked" ng-model="header.value" />
                                </td>
                                <td>
                                    <span ng-hide="header.isLocked || header.isMarkedAsRemoved">
                                        <a ng-click="markHeaderAsRemoved(header.key)">
                                            <i class="fa fa-trash"
                                               uib-tooltip="Remove header"></i>
                                        </a>
                                    </span>
                                    <span ng-show="(header.isMarkedAsRemoved || header.isChanged)">
                                        <a ng-click="resetHeaderChanges(header.key)">
                                            <i class="fa fa-undo"
                                               uib-tooltip="Reset changes"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div isolate-click class="alert alert-info"
                         ng-show="message.panel === 0 && message.headersUnavailable">{{message.headersUnavailable}}</div>
                    <div ng-show="message.panel === 1 && message.messageBody !== undefined && message.messageBody !== null">
                        <textarea isolate-click class="form-control" ng-model="message.messageBody"
                                  ng-disabled="!message.isContentTypeSupported">
                            </textarea>
                        <span class="empty-error" ng-show="message.isBodyEmpty"><i class="fa fa-exclamation-triangle"></i> Message body cannot be empty</span>
                        <span class="reset-body" ng-show="message.isBodyChanged"><i class="fa fa-undo" uib-tooltip="Reset changes"></i> <a ng-click="resetBodyChanges()">Reset changes</a></span>
                        <div isolate-click class="alert alert-info"
                             ng-show="message.panel === 1 && message.bodyUnavailable">{{message.bodyUnavailable}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer cancel-confirmation" ng-show="showCancelConfirmation">
    <div> Are you sure you want to cancel? Any changes you made will be lost.</div>
    <button type="button" class="btn btn-default" ng-click="closeDialog()">Yes</button>
    <button type="button" class="btn btn-primary" ng-click="cancelDialogClose()">No</button>
</div>
<div class="modal-footer edit-retry-confirmation" ng-show="showEditAndRetryConfirmation">
    <div>Are you sure you want to continue? If you edited the message, it may cause unexpected consequences in the system.</div>
    <button type="button" class="btn btn-default" ng-click="retryEditedMessage()">Yes</button>
    <button type="button" class="btn btn-primary" ng-click="cancelEditRequest()">No</button>
</div>
<div class="modal-footer" ng-hide="(showEditAndRetryConfirmation || showCancelConfirmation)">
    <button type="button" class="btn btn-default" ng-click="confirmCancellationIfNeeded()">Cancel</button>
    <button type="button" ng-disabled="message.isBodyEmpty" class="btn btn-primary" ng-click="confirmEditAndRetry()">Retry</button>
</div>