<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>
<div class="events" ng-controller="EventsCtrl">
    <div class="row">
        <div class="col-sm-12">
            <h6>Events</h6>

            <div class="row box box-event-item" ng-repeat="eventLogItem in eventLog.items | orderBy: '-raised_at' | limitTo: 10">
                <div class="col-xs-12" ng-click="viewCategory(eventLogItem)">
                    <div class="row">
                        <div class="col-xs-1">

                            <span class="fa-stack fa-lg">
                                <i title="{{eventLogItem.category}}" class="fa fa-stack-2x"
                                    ng-class="{
                                'normal': eventLogItem.severity === 'info',
                                'danger': eventLogItem.severity === 'error',
                                'fa-heart': eventLogItem.category === 'Endpoints' || eventLogItem.category === 'EndpointControl' || eventLogItem.category === 'HeartbeatMonitoring',
                                'fa-check': eventLogItem.category === 'CustomChecks',
                                'fa-envelope': eventLogItem.category === 'MessageFailures' || eventLogItem.category === 'Recoverability',
                                'pa-redirect-source pa-redirect-large': eventLogItem.category === 'MessageRedirects',
                                    }"></i>

                                <i ng-show="eventLogItem.severity === 'error' || eventLogItem.category === 'MessageRedirects'" class="fa fa-o fa-stack-1x fa-inverse" 
                                    ng-class="{
                                    'fa-times fa-error': eventLogItem.severity === 'error',
                                    'fa-pencil': eventLogItem.category === 'MessageRedirects' && eventLogItem.event_type === 'MessageRedirectChanged',
                                    'fa-plus': eventLogItem.category === 'MessageRedirects' && eventLogItem.event_type === 'MessageRedirectCreated',
                                    'fa-trash': eventLogItem.category === 'MessageRedirects' && eventLogItem.event_type === 'MessageRedirectRemoved',
                                    }"></i>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <div class="row box-header">
                                <div class="col-sm-12">
                                    <p class="lead">
                                        {{eventLogItem.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <sp-moment date="{{eventLogItem.raised_at}}"></sp-moment>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row list-pagination">
                <ul uib-pagination ng-show="eventLogItem.eventLogTotalItems >  eventLogItem.eventLogItemsPerPage" total-items="endpoint.eventLogPage" ng-model="endpoint.eventLog.items" items-per-page="endpoint.eventLogItemsPerPage" max-size="25" boundary-link-numbers="true" ng-change="updateUrl()"></ul>
            </div>
        </div>
    </div>

    <busy ng-show="loadingData" message="fetching more data"></busy>

    <no-data ng-show="!loadingData && model.length == 0" message="No events"></no-data>
</div>