<div class="container">
    <reindexingstatus></reindexingstatus>

    <section name="failed_messages">
        <div ng-show="!vm.selectedExceptionGroup.id">
            <failed-message-tabs></failed-message-tabs>
        </div>

        <div class="row" ng-show="vm.selectedExceptionGroup.id && vm.failedMessages.length > 0">
            <div class="col-sm-12">
                <div>
                    <span class="fake-link" aria-hidden="true">&#9664;</span>
                    <a class="back-nav" ng-if="vm.selectedExceptionGroup.parentTitle" href="#/endpoint_details/{{vm.selectedExceptionGroup.parentTitle}}/{{vm.selectedExceptionGroup.parentGroupIndex}}/">{{vm.selectedExceptionGroup.parentTitle}} endpoint</a>
                    <a class="back-nav" ng-if="!vm.selectedExceptionGroup.parentTitle" href="#/failed-messages/groups">Failed message groups list</a>
                </div>
                <div ng-show="!vm.selectedExceptionGroup.id" class="active">All failed messages ({{vm.failedMessages.length}} / {{vm.selectedExceptionGroup.count}} | number)</div>
                <h1 ng-show="vm.selectedExceptionGroup.id" class="active break group-title">
                    <span ng-if="vm.selectedExceptionGroup.parentTitle">{{vm.selectedExceptionGroup.parentTitle}} - </span>
                    {{vm.selectedExceptionGroup.title}}
                </h1>
                <h3 class="active group-title group-message-count">{{vm.selectedExceptionGroup.count | number}} messages in group</h3>
            </div>
        </div>

        <busy ng-show="vm.loadingData" message="fetching more messages"></busy>

        <no-data ng-show="vm.failedMessages.length === 0 && !vm.loadingData" title="message failures" message="There are currently no message failures"></no-data>

        <div class="row" ng-show="vm.failedMessages.length > 0">
            <div class="col-sm-12">
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-default" ng-click="vm.retrySelected()" ng-disabled="vm.selectedIds.length == 0"><i class="fa fa-repeat"></i> Retry {{vm.selectedIds.length | number}} selected</button>
                    <button type="button" class="btn btn-default" confirm-title="Are you sure you want to archive the selected messages?" confirm-message="If you archive, these messages won't be available for retrying unless they're later unarchived." confirm-click="vm.archiveSelected()" ng-disabled="vm.selectedIds.length == 0"><i class="fa fa-archive"></i> Archive {{vm.selectedIds.length | number}} selected</button>
                    <button type="button" class="btn btn-default" confirm-title="Are you sure you want to retry the whole group?" confirm-message="Retrying a whole group can take some time and put extra load on your system. Are you sure you want to retry all these messages?" confirm-click="vm.retryExceptionGroup(vm.selectedExceptionGroup)"><i class="fa fa-repeat"></i> Retry all</button>
                    <button type="button" class="btn btn-default" ng-show="vm.selectedExceptionGroup.id" confirm-title="Are you sure you want to archive this group?" confirm-message="If you archive, the messages in the group won't be available for retrying unless they're later unarchived." confirm-click="vm.archiveExceptionGroup(vm.selectedExceptionGroup)"><i class="fa fa-archive"></i> Archive all</button>

                    <div class="msg-group-menu dropdown msg-list-dropdown">
                        <label class="control-label">Sort by:</label>
                        <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{vm.sortButtonText}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectGroup(vm.selectedExceptionGroup, 'message_type', 'asc')"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> Message Type (ascending)</a>
                            </li>
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectGroup(vm.selectedExceptionGroup, 'message_type', 'desc')"><span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span> Message Type (descending)</a>
                            </li>
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectGroup(vm.selectedExceptionGroup, 'time_of_failure', 'asc')"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> Time Of Failure (ascending)</a>
                            </li>
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectGroup(vm.selectedExceptionGroup, 'time_of_failure', 'desc')"><span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span> Time Of Failure (descending)</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div ng-show="vm.failedMessages.length > 0" infinite-scroll="vm.loadMoreResults(vm.selectedExceptionGroup)" infinite-scroll-distance="0" infinite-scroll-disabled="vm.disableLoadingData">
            <div class="col-sm-12 no-mobile-side-padding">
                <div class="row box repeat-item failed-message" ng-repeat="message in vm.failedMessages">

                    <multi-checkboxlist messages="vm.failedMessages" selected-ids="vm.selectedIds" message="message" multiselection="vm.multiselection"></multi-checkboxlist>

                    <div class="col-xs-11 failed-message-data" ng-mouseenter="message.hover2 = true" ng-mouseleave="message.hover2 = false">
                        <a href="#/failed-messages/message/{{message.id}}">

                            <div class="row" ng-class="{rowSelected: message.selected == true}">

                                <div class="col-sm-12">
                                    <div class="row box-header">
                                        <div class="col-sm-12 no-side-padding">
                                            <p class="lead break" ng-class="{'msg-type-hover': message.hover2}">{{message.message_type || 'Message Type Unknown - missing metadata EnclosedMessageTypes'}}</p>
                                            <p class="metadata">
                                                <span ng-if="message.retried" tooltip="Message is being retried" class="label sidebar-label label-info metadata-label">Retried</span>
                                                <span ng-if="message.archived" tooltip="Message is being archived" class="label sidebar-label label-warning metadata-label">Archived</span>
                                                <span ng-if="message.number_of_processing_attempts > 1" tooltip="This message has already failed {{message.number_of_processing_attempts}} times" class="label sidebar-label label-important metadata-label">{{message.number_of_processing_attempts}} Retry Failures</span>

                                                <span class="metadata"><i class="fa fa-clock-o"></i> Failed: <sp-moment date="{{message.time_of_failure}}"></sp-moment></span>
                                                <span class="metadata"><i class="fa pa-endpoint"></i> Endpoint: {{message.receiving_endpoint.name}}</span>
                                                <span class="metadata"><i class="fa fa-laptop"></i> Machine: {{message.receiving_endpoint.host}}</span>
                                                <span class="metadata" ng-show="message.redirect"><i class="fa pa-redirect-source pa-redirect-small"></i> Redirect: {{message.redirect}}</span>
                                            </p>

                                            <pre class="stacktrace-preview" isolate-click ng-show="message.panel === 0">{{ message.exception.message }}</pre>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>