<div class="container">
    <section name="failed_messages">
        <div class="row">
            <div class="col-sm-12 padded">
                <h1>Failed Messages</h1>
            </div>
        </div>

        <div class="row" ng-show="vm.failedMessages.length > 0">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="#/failedGroups">Failed Message Groups</a></li>
                    <li ng-show="!vm.selectedExceptionGroup.id" class="active">All failed messages ({{vm.failedMessages.length}} / {{vm.selectedExceptionGroup.count}})</li>
                    <li ng-show="vm.selectedExceptionGroup.id" class="active break">{{vm.selectedExceptionGroup.title}} ({{vm.failedMessages.length}} / {{vm.selectedExceptionGroup.count}})</li>
                </ol>
            </div>
        </div>

        <busy ng-show="vm.loadingData" message="fetching more messages"></busy>

        <no-data ng-show="vm.failedMessages.length === 0 && !vm.loadingData" title="message failures" message="There are currently no message failures"></no-data>

        <div class="row" ng-show="vm.failedMessages.length > 0">
            <div class="col-sm-12">
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-default" ng-click="vm.retrySelected()" ng-disabled="vm.selectedIds.length == 0"><i class="fa fa-refresh"></i> Retry {{vm.selectedIds.length}} selected</button>
                    <button type="button" class="btn btn-default" confirm-message="Are you sure you want to archive all selected failed messages? If you do they will not be available for Retry." tooltip="All selected failed messages will be archived and will not be available for Retry" confirm-click="vm.archiveSelected()" ng-disabled="vm.selectedIds.length == 0"><i class="fa fa-archive"></i> Archive {{vm.selectedIds.length}} selected</button>
                    <button type="button" class="btn btn-default" confirm-message="Retrying a whole group can take some time and put extra load on your system. Are you sure you want to retry this group?" confirm-click="vm.retryExceptionGroup(vm.selectedExceptionGroup)" tooltip="All failed messages in this group will will be retried"><i class="fa fa-refresh"></i> Retry Group</button>
                    <button type="button" class="btn btn-default" ng-show="vm.selectedExceptionGroup.id" confirm-message="Are you really sure you want to archive this group?" confirm-click="vm.archiveExceptionGroup(vm.selectedExceptionGroup)" tooltip="All failed messages in this group will will be Archived"><i class="fa fa-archive"></i> Archive Group</button>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="hidden-xs hidden-sm">Sorted by </span>{{vm.sortButtonText}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript://" ng-click="vm.selectGroup(vm.selectedExceptionGroup, 'message_type', 'asc')"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> Message Type (ascending)</a>
                            </li>
                            <li>
                                <a href="javascript://" ng-click="vm.selectGroup(vm.selectedExceptionGroup, 'message_type', 'desc')"><span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span> Message Type (descending)</a>
                            </li>
                            <li>
                                <a href="javascript://" ng-click="vm.selectGroup(vm.selectedExceptionGroup, 'time_of_failure', 'asc')"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> Time Of Failure (ascending)</a>
                            </li>
                            <li>
                                <a href="javascript://" ng-click="vm.selectGroup(vm.selectedExceptionGroup, 'time_of_failure', 'desc')"><span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span> Time Of Failure (descending)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="vm.failedMessages.length > 0" infinite-scroll="vm.loadMoreResults(vm.selectedExceptionGroup)" infinite-scroll-distance="0" infinite-scroll-disabled="vm.disableLoadingData">
            <div class="row box" ng-repeat="message in vm.failedMessages">
                <div class="col-sm-12">
                    <div class="row" ng-class="{rowSelected: message.selected == true}" style="cursor: pointer;">
                        <div class="check col-md-1">
                            <input type="checkbox" id="onoffswitch{{$id}}" name="onoffswitch{{$id}}" ng-disabled="message.retried || message.archived" ng-checked="message.selected" ng-click="vm.toggleRowSelect(message)">
                        </div>
                        <div class="col-sm-9">
                            <div class="row box-header">
                                <div class="col-sm-12">
                                    <p class="lead">{{message.message_type || 'Message Type Unknown - missing metadata EnclosedMessageTypes'}} </p>
                                    <p>
                                        failed <sp-moment date="{{message.time_of_failure}}">, </sp-moment> reported by {{message.receiving_endpoint.name}} on {{message.receiving_endpoint.host}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span>
                                <span ng-if="message.retried" tooltip="Message is being retried" class="label sidebar-label label-info">Retried</span>
                                <span ng-if="message.archived" tooltip="Message is being archived" class="label sidebar-label label-warning">Archived</span>
                                <span ng-if="message.number_of_processing_attempts > 1" tooltip="This message has already failed {{message.number_of_processing_attempts}} times" class="label sidebar-label label-important">{{message.number_of_processing_attempts}} <i class="fa fa-times"></i> Retry Failures</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <p class="small" ng-init="message.panel = 0">

                                <button type="button" class="btn btn-link btn-sm" ng-show="message.panel === 1" ng-click="vm.togglePanel(message, 0)">
                                    <i>Hide stacktrace</i>
                                </button>
                                <button type="button" class="btn btn-link btn-sm" ng-hide="message.panel === 1" ng-click="vm.togglePanel(message, 1)">
                                    <i> Show stacktrace</i>
                                </button>
                                <button type="button" class="btn btn-link btn-sm" ng-show="message.panel === 2" ng-click="vm.togglePanel(message, 0)">
                                    <i>Hide headers</i>
                                </button>
                                <button type="button" class="btn btn-link btn-sm" ng-hide="message.panel === 2" ng-click="vm.togglePanel(message, 2)">
                                    <i>Show headers</i>
                                </button>
                                <button type="button" class="btn btn-link btn-sm" ng-show="message.panel === 3" ng-click="vm.togglePanel(message, 0)">
                                    <i>Hide message body</i>
                                </button>
                                <button type="button" class="btn btn-link btn-sm" ng-hide="message.panel === 3" ng-click="vm.togglePanel(message, 3)">
                                    <i>Show message body</i>
                                </button>
                                <button type="button" clip-copy="" data-clipboard-text="{{message.message_id}}" class="btn btn-link btn-sm">
                                    <i>Copy Id to clipboard</i>
                                </button>
                                <button type="button" tooltip="This only works if ServiceInsight is installed." class="btn btn-link btn-sm" ng-click="debugInServiceInsight($index)">
                                    <i>Open in ServiceInsight</i>
                                </button>
                            </p>
                            <pre ng-show="message.panel === 0">{{ message.exception.message }}</pre>
                            <pre ng-show="message.panel === 1">{{ message.exception.stack_trace }}</pre>
                            <table class="table" ng-show="message.panel === 2 && message.messageHeaders">
                                <tbody>
                                <tr class="interactiveList" ng-repeat="header in message.messageHeaders">
                                    <td nowrap="nowrap">{{header.key}}</td>
                                    <td>
                                        <pre>{{header.value}}</pre>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="alert alert-info" ng-show="message.panel === 2 && message.headersUnavailable">{{message.headersUnavailable}}</div>
                            <pre ng-show="message.panel === 3 && message.messageBody">{{message.messageBody}}</pre>
                            <div class="alert alert-info" ng-show="message.panel === 3 && message.bodyUnavailable">{{message.bodyUnavailable}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>

</div>