<span class="monitoring-connected" uib-tooltip="Monitoring URL {{monitoringUrl}}">
    SC Monitoring:
    <span class="connected-status" ng-if="isSCMonitoringConnected && !isSCMonitoringConnecting">
        <div class="fa pa-connection-success"></div> <span ng-show="monitoringVersion"> v{{monitoringVersion}}</span> <span ng-show="newscmonitoringversion">(<i class="fa fa-level-up fake-link"></i> <a href="{{newscmonitoringversionlink}}" target="_blank">v{{newscmonitoringversionnumber}} available</a>)</span>
    </span>
    <span ng-if="!isSCMonitoringConnected && !isSCMonitoringConnecting" class="connection-failed">
        <i class="fa pa-connection-failed"></i> Not connected
    </span>
    <span ng-if="isSCMonitoringConnecting" class="connection-establishing">
        <i class="fa pa-connection-establishing"></i> Connecting
    </span>
</span>