<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>ServicePulse</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand />
  <FastBuildCommand />
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" StabilityConvention="GitFlow" />
    <Feed Url="http://nuget.org/api/v2" Mode="Float" Stability="ReleasedOnly" StabilityConvention="None" />
  </Feeds>
  <Nugets>
    <Dependency Name="Nancy" Version="0.20.0" Mode="Fixed" />
    <Dependency Name="Nancy.Hosting.Self" Version="0.20.0" Mode="Fixed" />
    <Dependency Name="Particular.CustomActions" Version="1.1.0" Mode="Float" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>
