<div class="modal-header">
    <h3 class="modal-title">Message editor</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div isolate-click class="col-sm-12 no-side-padding">
                    <div class="tabs msg-tabs">
                        <h5 ng-class="{active: message.panel === 0}" ng-click="togglePanel(message, 0)"><a>Headers</a></h5>
                        <h5 ng-class="{active: message.panel === 1}" ng-click="togglePanel(message, 1)"><a>Message body</a></h5>
                    </div>

                    <table isolate-click class="table" ng-show="message.panel === 0 && message.messageHeaders">
                        <tbody>
                            <tr class="interactiveList" ng-repeat="header in message.messageHeaders">
                                <td nowrap="nowrap">{{header.key}}<span ng-show="isHeaderLocked(header.key)">&nbsp;<i class="fa fa-lock" aria-hidden="true"></i></span></td>
                                <td>
                                    <input isolate-click
                                        edit-on-focus="{{isHeaderLocked(header.key) === false}}"
                                        class="form-control"
                                        autocomplete="off"
                                        type="text"
                                        ng-readonly="true"
                                        ng-model="header.value" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div isolate-click class="alert alert-info" ng-show="message.panel === 0 && message.headersUnavailable">{{message.headersUnavailable}}</div>
                    <textarea isolate-click
                        edit-on-focus
                        class="form-control"
                        ng-show="message.panel === 1 && message.messageBody"
                        ng-model="message.messageBody"
                        ng-readonly="true">
                    </textarea>
                    <div isolate-click class="alert alert-info" ng-show="message.panel === 1 && message.bodyUnavailable">{{message.bodyUnavailable}}</div>
                </div>
            </div>
        </div>
    </div>        
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="">Edit & retry</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>