<div class="row-fluid scSelectableRow span12 failedMessagesGroup" ng-class="{failedMessagesGroupSelected: ctrl.item.id === ctrl.selectedId}">
    <div class="span8 blue text-ellipsis" ng-click="selectGroup(ctrl.item)">
        {{ctrl.item.title}}
    </div>
    <div class="span1 red" ng-click="selectGroup($event, ctrl.item)">
        {{ctrl.item.count}}
    </div>
    <div class="span1" ng-click="selectGroup($event, ctrl.item)">
        <sp-moment date="{{ctrl.item.first}}" />
    </div>
    <div class="span1 red" ng-click="selectGroup($event, ctrl.item)">
        <sp-moment date="{{ctrl.item.last}}" />
    </div>
    <div class="span1">
        <button type="button" class="btn btn-small" tooltip="Archive Group" ng-click="archiveExceptionGroup(ctrl.item)" ng-disabled="ctrl.item.count == 0"><i class="fa fa-archive"></i></button>
        <button type="button" class="btn btn-small" tooltip="Retry Group" ng-click="retryExceptionGroup(ctrl.item)" ng-disabled="ctrl.item.count == 0"><i class="fa fa-refresh"></i></button>
    </div>
</div>