<!-- Failed messages groups -->
﻿<div class="row-fluid">
    <div class="box span12" ng-show="model.exceptionGroups.length > 0">
    <div class="box-header" data-original-title>
            <h2><i class="fa fa-envelope"></i><span class="break"></span>Showing {{model.exceptionGroups.length + 1}} failed messages groups</h2>
        </div>
        <div class="box-content">
            <div class="scRow">
                <div class="row-fluid">
                    <div class="span3 rowText"><h3>Group name</h3></div>
                    <div class="span1 rowText"><h3>Count</h3></div>
                    <div class="span2 rowText"><h3>First failure</h3></div>
                    <div class="span2 rowText"><h3>Last failure</h3></div>
                    <div class="span2 rowText"><h3></h3></div>
                    <div class="span2 rowText"><h3></h3></div>
                </div>
            </div>
            <div class="narrow-scrollbar failedMessages-groupsBox">
            <div class="scRow">
                <div class="row-fluid">
                    <div class="span3 rowText"><a href="javascript://" ng-click="loadMoreResults(allFailedMessagesGroup, true)">All failed messages</a></div>
                    <div class="span1 rowText">{{allFailedMessagesGroup.count}}</></div>
                    <div class="span2 rowText"></div>
                    <div class="span2 rowText"></div>
                    <div class="span2 rowText"><button class="btn" ng-click="retryAll()" ng-disabled="allFailedMessagesGroup.count == 0"><i class="icon-asterisk"></i> Retry all messages</button></div>
                    <div class="span2 rowText"></div>
                </div>
            </div>
            <div class="scRow" ng-repeat="excGroup in model.exceptionGroups">
                <div class="row-fluid">
                    <div class="span3 rowText"><a href="javascript://" ng-click="loadMoreResults(excGroup, true)">{{excGroup.title}}</a></div>
                    <div class="span1 rowText">{{excGroup.count}}</div>
                    <div class="span2 rowText">{{excGroup.first | date:'dd MMM yyyy hh:mm:ss:sss'}}</div>
                    <div class="span2 rowText">{{excGroup.last | date:'dd MMM yyyy  hh:mm:ss:sss'}}</div>
                    <div class="span2 rowText"><button class="btn" ng-click="retryExceptionGroup(excGroup)" ng-disabled="excGroup.count == 0"><i class="icon-asterisk"></i> Retry all from this group</button></div>
                    <div class="span2 rowText"><button class="btn" ng-click="archiveExceptionGroup(excGroup)" ng-disabled="excGroup.count == 0"><i class="icon-asterisk"></i><i class="icon-archive-messages"></i> Archive all from this group</button></div>
                </div>
            </div>
        </div>
</div>
</div>

<!-- Failes messages from the currently selected group -->
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="fa fa-envelope"></i><span class="break"></span>Showing {{model.failedMessages.length}} out of {{selectedExceptionGroup.count}} failed messages in group '{{selectedExceptionGroup.title}}'<i ng-show="!disableLoadingData">(scroll down to load more)</i></h2>
        </div>
        <div class="box-content">
            <div class="btn-toolbar">
                <button class="btn" ng-click="retrySelected()" ng-disabled="model.selectedIds.length == 0"><i class="icon-repeat"></i> Retry {{model.selectedIds.length}} selected</button>
                <button tooltip="All selected failed messages will be archived and will not be available for Retry" class="btn" ng-click="archiveSelected()" ng-disabled="model.selectedIds.length == 0"><i class="icon-archive-messages"></i> Archive {{model.selectedIds.length}} selected</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-link dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        Sort by
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript://" ng-click="loadMoreResults(selectedExceptionGroup, true, 'message_type')">Message Type</a></li>
                        <li><a href="javascript://" ng-click="loadMoreResults(selectedExceptionGroup, true, 'time_sent')">Time Sent</a></li>
                    </ul>
                </div>
            </div>
            <div class="newMessages" ng-show="model.newMessages > 1" ng-click="refreshResults()"><p class="text-center">{{model.newMessages}} new messages</p></div>
            <div class="newMessages" ng-show="model.newMessages == 1" ng-click="refreshResults()"><p class="text-center">{{model.newMessages}} new message</p></div>
            <div infinite-scroll="loadMoreResults(selectedExceptionGroup)" infinite-scroll-distance="0" infinite-scroll-disabled="disableLoadingData">
                <div class="scRow" ng-repeat="row in model.failedMessages">
                    <div class="row-fluid scSelectableRow" ng-class="{rowSelected: row.selected == true}" ng-click="toggleRowSelect(row)" style="cursor: pointer;">
                        <div class="span1 check"><input type="checkbox" ng-disabled="row.retried || row.archived" ng-checked="row.selected"></div>
                        <div class="span11 check">
                            <div class="span11" ng-init="row.panel = 0">
                                <a eat-click ng-show="row.panel === 1" class="btn btn-small btn-link" ng-click="togglePanel(row, 0)"><i class="fa fa-minus-square action_icon"></i> Hide stacktrace</a>
                                <a eat-click ng-hide="row.panel === 1" class="btn btn-small btn-link" ng-click="togglePanel(row, 1)"><i class="fa fa-plus-square action_icon"></i> Show stacktrace</a>
                                <a eat-click ng-show="row.panel === 2" class="btn btn-small btn-link" ng-click="togglePanel(row, 0)"><i class="fa fa-minus-square action_icon"></i> Hide headers</a>
                                <a eat-click ng-hide="row.panel === 2" class="btn btn-small btn-link" ng-click="togglePanel(row, 2)"><i class="fa fa-plus-square action_icon"></i> Show headers</a>
                                <a eat-click ng-show="row.panel === 3" class="btn btn-small btn-link" ng-click="togglePanel(row, 0)"><i class="fa fa-minus-square action_icon"></i> Hide message body</a>
                                <a eat-click ng-hide="row.panel === 3" class="btn btn-small btn-link" ng-click="togglePanel(row, 3)"><i class="fa fa-plus-square action_icon"></i> Show message body</a>
                                <a eat-click clip-copy data-clipboard-text="{{row.message_id}}" class="btn btn-small btn-link"><span><i class="fa fa-clipboard action_icon"></i> Copy Id to clipboard</span></a>
                                <a eat-click tooltip="This only works if ServiceInsight is installed." class="btn btn-small btn-link" ng-click="debugInServiceInsight($index)"><i class="icon-service-insight"></i> Open in ServiceInsight</a>
                            </div>
                            <div class=" row-fluid">
                                <div class="span10 rowText" title="Message Type: {{row.message_type}}">{{row.message_type | limitTo: 90}}<span ng-show="row.message_type.length > 90">...</span></div>
                                <div class="span2 text-right"><sp-moment date="{{row.time_sent}}" /></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span8">
                                    <pre ng-show="row.panel === 0">{{ row.exception.message }}</pre>
                                    <pre ng-show="row.panel === 1">{{ row.exception.stack_trace }}</pre>
                                    <table class="table" ng-show="row.panel === 2 && row.messageHeaders" >
                                        <tr ng-repeat="header in row.messageHeaders">
                                            <td nowrap="nowrap">{{header.key}}</td>
                                            <td><pre>{{header.value}}</pre></td>
                                        </tr>
                                    </table>
                                    <div class="alert alert-info" ng-show="row.panel === 2 && row.headersUnavailable">{{row.headersUnavailable}}</div>   
                                    <pre ng-show="row.panel === 3 && row.messageBody">{{row.messageBody}}</pre>
                                    <div class="alert alert-info" ng-show="row.panel === 3 && row.bodyUnavailable">{{row.bodyUnavailable}}</div> 
                                </div>
                                <div class="span4 text-right" title="In: {{row.receiving_endpoint.name}} on {{row.receiving_endpoint.host}}">in {{row.receiving_endpoint.name}} on {{row.receiving_endpoint.host}}</div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6 text-left">
                                    <span ng-if="row.retried" tooltip="Message is being retried" class="label label-info">Retried</span>
                                    <span ng-if="row.archived" tooltip="Message is being archived" class="label label-info">Archived</span>
                                    <span ng-if="row.number_of_processing_attempts > 1" tooltip="This message has already failed {{row.number_of_processing_attempts}} times" class="label label-important">Repeated Failure</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success" ng-show='!loadingData && $scope.allFailedMessagesGroup.count == 0'>No failed messages</div>
                <div class="loading" ng-show='loadingData'></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.js-clipboard').live('mousedown')
</script>
