<div>
    <hr>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>Failed Messages</li>
    </ul>
    <hr>
</div>

<div class="well" ng-show="model.failedMessages.length === 0">
    <p class="text-center" style="font-size: 60pt;">
        <i class="fa fa-inbox"></i>
    </p>
    <h2 class="text-center">Well done, no error messages!</h2>
</div>

<div class="row" ng-show="model.failedMessages.length > 0">
    <ul class="nav nav-tabs">
        <li ng-show="model.displayGroupsTab" ng-class="{active: model.activePageTab == 'groups'}">
            <a ng-click="model.activePageTab = 'groups'">Error Groups</a>
        </li>
        <li ng-class="{active: model.activePageTab == 'messages'}">
            <a ng-click="model.activePageTab = 'messages'">Messages</a>
        </li>
    </ul>

    <div class="tab-content">
        <!-- Failed messages groups -->
        <div ng-switch="model.activePageTab">
            <div class="box col-sm-12 col-md-12" ng-switch-when="groups">
                <div class="box-header" data-original-title="">
                    <h2>
                        <i class="fa fa-th"></i><span class="break"></span>Showing {{model.exceptionGroups.length}} failed messages groups. Messages are grouped by exception type and exception line of code.
                    </h2>
                </div>
                <div class="box-content" ng-show="model.exceptionGroups.length === 0 && model.failedMessages.length > 0">
                    <div class="well well-lg">
                        <h2>Loading...</h2> We are still grouping your failed messages, it shouldn't be much longer.
                    </div>
                </div>
                <div class="box-content" ng-show="model.exceptionGroups.length > 0">
                    <div class="scRow failedMessagesGroup-row">
                        <div class="col-sm-8 col-md-8">
                            <strong>Title</strong>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="col-sm-3 col-md-3">
                                <strong>Count</strong>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <strong>First Fail</strong>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <strong>Last Fail</strong>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <strong>Action</strong>
                            </div>
                        </div>
                    </div>
                    <div class="scRow failedMessagesGroup-row interactiveList" ng-repeat="excGroup in model.exceptionGroups">

                        <div class="failedMessagesGroup row scSelectableRow col-sm-12 col-md-12" ng-class="{failedMessagesGroupSelected: excGroup.id === selectedExceptionGroup.id}">
                            <div class="blue text-ellipsis col-sm-8 col-md-8" ng-click="selectGroup(excGroup)">
                                {{excGroup.title}}
                            </div>

                            <div ng-show="excGroup.workflow_state.status === 'working'" class="animate-box col-sm-4 col-md-4">
                                <progressbar class="progress-striped active" max="excGroup.workflow_state.total" value="excGroup.workflow_state.count"><i ng-show="excGroup.workflow_state.count">{{excGroup.workflow_state.count}} / {{excGroup.workflow_state.total}}</i></progressbar>
                            </div>

                            <div ng-show="excGroup.workflow_state.status === 'error'" role="alert" class="animate-box alert alert-warning alert-dismissable col-sm-4 col-md-4 ">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismiss(excGroup)">×</button>
                                {{excGroup.workflow_state.message}}
                            </div>

                            <div ng-show="excGroup.workflow_state.status === 'success'" role="alert" class="animate-box alert alert-info alert-dismissable col-sm-4 col-md-4 ">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismiss(excGroup)">×</button>
                                {{excGroup.workflow_state.message}}
                            </div>

                            <div ng-show="excGroup.workflow_state.status === 'ready'" class="animate-box col-sm-4 col-md-4">
                                <div class="red col-sm-3 col-md-3">
                                    {{excGroup.count}}
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <sp-moment date="{{excGroup.first}}">
                                    </sp-moment>
                                </div>
                                <div class="red col-sm-3 col-md-3">
                                    <sp-moment date="{{excGroup.last}}">
                                    </sp-moment>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                   
                                    <button type="button" class="btn btn-default btn-sm" tooltip="Archive Group" ng-click="archiveExceptionGroup(excGroup)" ng-disabled="excGroup.count == 0"><i class="fa fa-archive"></i></button>
                                    <button type="button" class="btn btn-default btn-sm" tooltip="Retry Group" ng-click="retryExceptionGroup(excGroup)" ng-disabled="excGroup.count == 0"><i class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <p>
                    <br>
                </p>

                <div class="alert alert-danger">
                    <p class="pull-right">
                        <button class="btn btn-danger" type="button" confirm-click="Are you really sure you want to retry all failed messages?" ng-click="retryAll()" tooltip="All failed messages will be Retried"><i class="fa fa-refresh white"></i> Retry All Failed Messages</button>
                        <button class="btn btn-default" type="button" ng-click="selectGroup(allFailedMessagesGroup)" tooltip="Review all Messages"><i class="fa fa-envelope"></i> View All Failed Messages</button>
                    </p>
                    <p>
                    </p><h4>Warning!</h4> Retrying all messages can be a time consuming operation. Take care when doing this.
                    <p></p>
                </div>

            </div>

            <div class="box col-sm-12 col-md-12" ng-switch-when="messages">
                <div class="box-header" data-original-title="">
                    <h2 class="failedMessages-header">
                        <i class="fa fa-envelope"></i><span class="break"></span><span class="failedMessages-headerText">Showing {{model.failedMessages.length}} out of {{selectedExceptionGroup.count}} failed messages in group '{{selectedExceptionGroup.title}}'</span><i ng-show="!allMessagesLoaded" class="failedMessages-headerScrollText">(scroll down to load more)</i>
                    </h2>
                </div>
                <div class="box-content">
                    <div class="btn-toolbar">
                        <button class="btn btn-default" ng-click="retrySelected()" ng-disabled="model.selectedIds.length == 0"><i class="fa fa-refresh"></i> Retry {{model.selectedIds.length}} selected</button>
                        <button tooltip="All selected failed messages will be archived and will not be available for Retry" class="btn btn-default" ng-click="archiveSelected()" ng-disabled="model.selectedIds.length == 0"><i class="fa fa-archive"></i> Archive {{model.selectedIds.length}} selected</button>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript://" ng-click="selectGroup(selectedExceptionGroup, 'message_type')">Message Type</a></li>
                                <li><a href="javascript://" ng-click="selectGroup(selectedExceptionGroup, 'time_sent')">Time Sent</a></li>
                            </ul>
                        </div>
                    </div>
                    <div infinite-scroll="loadMoreResults(selectedExceptionGroup)" infinite-scroll-distance="0" infinite-scroll-disabled="disableLoadingData">
                        <div class="scRow interactiveList" ng-repeat="row in model.failedMessages">
                            <div class="row scSelectableRow" ng-class="{rowSelected: row.selected == true}" ng-click="toggleRowSelect(row)" style="cursor: pointer;">
                                <div class="check col-sm-1 col-md-1">
                                    <input type="checkbox" ng-disabled="row.retried || row.archived" ng-checked="row.selected">
                                </div>
                            </div>
                            <div class="col-sm-11 col-md-11" ng-init="row.panel = 0">
                                <a eat-click="" ng-show="row.panel === 1" class="btn btn-link btn-default btn-sm" ng-click="togglePanel(row, 0)"><i class="fa fa-minus-square action_icon"></i> Hide stacktrace</a>
                                <a eat-click="" ng-hide="row.panel === 1" class="btn btn-link btn-default btn-sm" ng-click="togglePanel(row, 1)"><i class="fa fa-plus-square action_icon"></i> Show stacktrace</a>
                                <a eat-click="" ng-show="row.panel === 2" class="btn btn-link btn-default btn-sm" ng-click="togglePanel(row, 0)"><i class="fa fa-minus-square action_icon"></i> Hide headers</a>
                                <a eat-click="" ng-hide="row.panel === 2" class="btn btn-link btn-default btn-sm" ng-click="togglePanel(row, 2)"><i class="fa fa-plus-square action_icon"></i> Show headers</a>
                                <a eat-click="" ng-show="row.panel === 3" class="btn btn-link btn-default btn-sm" ng-click="togglePanel(row, 0)"><i class="fa fa-minus-square action_icon"></i> Hide message body</a>
                                <a eat-click="" ng-hide="row.panel === 3" class="btn btn-link btn-default btn-sm" ng-click="togglePanel(row, 3)"><i class="fa fa-plus-square action_icon"></i> Show message body</a>
                                <a eat-click="" clip-copy="" data-clipboard-text="{{row.message_id}}" class="btn btn-link btn-default btn-sm"><span><i class="fa fa-clipboard action_icon"></i> Copy Id to clipboard</span></a>
                                <a eat-click="" tooltip="This only works if ServiceInsight is installed." class="btn btn-link btn-default btn-sm" ng-click="debugInServiceInsight($index)"><i class="icon-service-insight"></i> Open in ServiceInsight</a>
                            </div>
                            <div class=" row">
                                <div class="rowText hard-wrap col-sm-10 col-md-10">{{row.message_type || 'Message Type Unknown - missing metadata EnclosedMessageTypes'}}</div>
                                <div class="text-right col-sm-2 col-md-2">
                                    <sp-moment date="{{row.time_sent}}">
                                    </sp-moment>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-md-8">
                                    <pre ng-show="row.panel === 0">{{ row.exception.message }}</pre>
                                    <pre ng-show="row.panel === 1">{{ row.exception.stack_trace }}</pre>
                                    <table class="table" ng-show="row.panel === 2 && row.messageHeaders">
                                        <tbody>
                                            <tr class="interactiveList" ng-repeat="header in row.messageHeaders">
                                                <td nowrap="nowrap">{{header.key}}</td>
                                                <td><pre>{{header.value}}</pre></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="alert alert-info" ng-show="row.panel === 2 && row.headersUnavailable">{{row.headersUnavailable}}</div>
                                    <pre ng-show="row.panel === 3 && row.messageBody">{{row.messageBody}}</pre>
                                    <div class="alert alert-info" ng-show="row.panel === 3 && row.bodyUnavailable">{{row.bodyUnavailable}}</div>
                                </div>
                                <div class="text-right hard-wrap col-sm-4 col-md-4" title="In: {{row.receiving_endpoint.name}} on {{row.receiving_endpoint.host}}">in {{row.receiving_endpoint.name}} on {{row.receiving_endpoint.host}}</div>
                            </div>
                            <div class="row">
                                <div class="text-left col-sm-6 col-md-6">
                                    <span ng-if="row.retried" tooltip="Message is being retried" class="label label-info">Retried</span>
                                    <span ng-if="row.archived" tooltip="Message is being archived" class="label label-info">Archived</span>
                                    <span ng-if="row.number_of_processing_attempts > 1" tooltip="This message has already failed {{row.number_of_processing_attempts}} times" class="label label-important">Repeated Failure</span>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-success" ng-show="!loadingData && $scope.allFailedMessagesGroup.count == 0">No failed messages</div>
                        <div class="loading" ng-show="loadingData"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    $('.js-clipboard').on('mousedown')
</script>