<div>
    <hr>
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li>Failed Messages</li>
    </ul>
    <hr>
</div>
<h3>Total number of messages in the error queue: {{model.total}}</h3>
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="fa-icon-info-sign"></i><span class="break"></span>Summary statistics</h2>
        </div>
        <div class="box-content">
            <div class="row-fluid">
                <div class=" span2">
                    <h3>Machines</h3>
                    <ul class="unstyled">
                        <li ng-repeat="msg in model.failedMessagesStats['machines'].values" title="{{msg.range}}">
                            {{msg.range | limitTo: 30}}<span ng-show="msg.range.length > 30">...</span> <strong>({{msg.hits}})</strong>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>Endpoints</h3>
                    <ul class="unstyled">
                        <li ng-repeat="msg in model.failedMessagesStats['endpoints'].values" title="{{msg.range}}">
                            {{msg.range | limitTo: 30}}<span ng-show="msg.range.length > 30">...</span> <strong>({{msg.hits}})</strong>
                        </li>
                    </ul>
                </div>
                <div class="span7">
                    <h3>Message Types</h3>
                    <ul class="unstyled">
                        <li ng-repeat="msg in model.failedMessagesStats['message types'].values" title="{{msg.range}}">
                            {{msg.range | limitTo: 30}}<span ng-show="msg.range.length > 30">...</span> <strong>({{msg.hits}})</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="fa-icon-envelope"></i><span class="break"></span>Showing {{model.failedMessages.length}} message(s)</h2>
        </div>
        <div class="box-content">
            <div class="btn-toolbar">
                <button class="btn" ng-click="retrySelected()" ng-disabled="model.selectedIds.length == 0"><i class="icon-repeat"></i> Retry {{model.selectedIds.length}} selected</button>
                <button class="btn" ng-click="retryAll()" ng-disabled="model.total == 0"><i class="icon-asterisk"></i> Retry all ({{model.total}} messages)</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-link dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        Sort by
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/failedMessages?sort=message_type">Message Type</a></li>
                        <li><a href="#/failedMessages?sort=time_sent">Time Sent</a></li>
                    </ul>
                </div>
            </div>
            <div infinite-scroll="loadMoreResults()" infinite-scroll-distance="0" infinite-scroll-disabled="disableLoadingData">
                <div class="scRow" ng-repeat="row in model.failedMessages">
                    <div class="row-fluid scSelectableRow" ng-class="{rowSelected: row.selected == true}" ng-click="toggleRowSelect(row)" style="cursor: pointer;">
                        <div class="span1 check"><input type="checkbox" ng-disabled="row.retried" ng-checked="row.selected"></div>
                        <div class="span11 check">
                            <div class=" row-fluid">
                                <div ng-if="row.retried" class="span1"><span class="label label-info">Retried</span></div>
                                <div ng-if="row.retried" class="span9 rowText" title="Message Type: {{row.message_type}}">{{row.message_type | limitTo: 90}}<span ng-show="row.message_type.length > 90">...</span></div>
                                <div ng-if="!row.retried"  class="span10 rowText" title="Message Type: {{row.message_type}}">{{row.message_type | limitTo: 90}}<span ng-show="row.message_type.length > 90">...</span></div>
                                <div class="span2 text-right"><sp-moment date="{{row.time_sent}}" /></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span8"><code>{{row.failure_details.exception.message}}</code></div>
                                <div class="span4 text-right" title="In: {{row.receiving_endpoint.name}} on {{row.receiving_endpoint.machine}}">in {{row.receiving_endpoint.name}} on {{row.receiving_endpoint.machine}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success" ng-show='!loadingData && model.total == 0'>No failed messages</div>
                <div class="alert alert-info" ng-show='loadingData'><strong>Loading data ...</strong></div>
            </div>
         </div>
     </div>
</div>
