<div class="box col-sm-12 col-md-12">
    <div class="box-header" data-original-title="">
        <h2><i class="fa fa-info-circle"></i><span class="break"></span>Latest events</h2>
    </div>
    <div class="box-content" ng-controller="EventLogItemsCtrl">
        <div class="scRow interactiveList" ng-repeat="eventLogItem in model | orderBy: '-raised_at' | limitTo: 10">
            <div class="row">
                <div class="text-info col-sm-10 col-md-10">{{eventLogItem.description}}</div>
                <div class="text-right col-sm-2 col-md-2"><sp-moment date="{{eventLogItem.raised_at}}"></sp-moment></div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-md-2" title="Severity: {{eventLogItem.severity}}"><span ng-class="{'label label-success': eventLogItem.severity == 'info', 'label label-important':  eventLogItem.severity == 'error'}">{{eventLogItem.severity}}</span></div>
                <div class="col-sm-4 col-md-4" title="Category: {{eventLogItem.category}}">{{eventLogItem.category}}</div>
                <div class="col-sm-6 col-md-6" title="Related to: {{eventLogItem.related_to[0]}}">
                    <div ng-init="limit = 5">
                        <div class="interactiveList" ng-repeat="r in eventLogItem.related_to | limitTo: limit">
                            {{r}}
                        </div>
                    </div>
                    <a ng-hide="limit >= eventLogItem.related_to.length" ng-click="limit = limit +eventLogItem.related_to.length-5">
                        show more...
                    </a>

                </div>
            </div>
        </div>
        <div class="alert alert-success" ng-show="!loadingData && model.length == 0">No events!</div>
        <div class="loading" ng-show="loadingData"></div>
    </div>
</div>