<div class="container">
    <div class="row monitoring-head">
        <div class="col-sm-10 no-side-padding list-section">
            <h1>{{endpointName}}</h1>
        </div>
        <div class="col-sm-2 no-side-padding toolbar-menus">
            <div class="msg-group-menu dropdown">
                <label class="control-label">Period:</label>
                <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedPeriod.text}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="period in periods">
                        <a ng-click="selectPeriod(period)" href="#/endpoint_details/{{endpointName}}/{{sourceIndex}}?historyPeriod={{period.value}}">{{period.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container large-graphs">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 no-side-padding list-section graph-area graph-queue-length">
                <!-- here goes diagram -->
                <large-graph ng-if="endpoint.metricDetails.metrics.queueLength"
                             first-data-series="endpoint.metricDetails.metrics.queueLength"
                             xAxis-points="endpoint.metricDetails.metrics.queueLength.timeAxisValues"
                             plot-width="750"
                             plot-height="200"
                             first-series-color="#EA7E00"
                             first-series-fill-color="#EADDCE"
                             class="large-graph pull-left"></large-graph>

                <div class="col-sm-12 no-side-padding graph-values">
                    <div class="row queue-length-values tooltip-trigger">
                        <div class="metric-digest-header">
                            Queue Length <i class="fa fa-flask fake-link"></i>
                        </div>
                        <div class="interactive-tooltip">
                            <div class="tooltip-contents">
                                <p>Queue length: The estimated number of messages in an endpoint's queue.</p>
                                <p>NOTE: This is an experimental feature. <a href="https://docs.particular.net/nservicebus/operations/metrics/#metrics-captured-queue-length" target="_blank">Learn more</a> <i class="fa fa-external-link fake-link"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="row metric-digest-value current">
                        {{endpoint.digest.metrics.queueLength.latest | number:0}} <span class="metric-digest-value-suffix">MSGS</span>
                    </div>
                    <div class="row metric-digest-value average">
                        {{endpoint.digest.metrics.queueLength.average | number:0}} <span class="metric-digest-value-suffix">MSGS AVG</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 no-side-padding list-section graph-area graph-message-retries-throughputs">
                <!-- here goes diagram -->
                <large-graph ng-if="endpoint.metricDetails.metrics.throughput"
                             first-data-series="endpoint.metricDetails.metrics.throughput"
                             second-data-series="endpoint.metricDetails.metrics.retries"
                             xAxis-points="endpoint.metricDetails.metrics.throughput.timeAxisValues"
                             plot-width="750"
                             plot-height="200"
                             first-series-color="#176397"
                             first-series-fill-color="#CADCE8"
                             second-series-color="#CC1252"
                             second-series-fill-color="#E9C4D1"
                             class="large-graph pull-left"></large-graph>

                <div class="col-sm-12 no-side-padding graph-values">
                    <div class="col-sm-6 no-side-padding throughput-values">
                        <div class="row">
                            <span class="metric-digest-header" uib-tooltip="Throughput: The number of messages per second successfully processed by a receiving endpoint.">
                                Throughput
                            </span>
                        </div>
                        <div class="row metric-digest-value current">
                            {{endpoint.digest.metrics.throughput.latest | number:2}} <span class="metric-digest-value-suffix">MSGS/S</span>
                        </div>
                        <div class="row metric-digest-value average">
                            {{endpoint.digest.metrics.throughput.average | number:2}} <span class="metric-digest-value-suffix">MSGS/S AVG</span>
                        </div>
                    </div>
                    <div class="col-sm-6 no-side-padding scheduled-retries-rate-values">
                        <div class="row">
                            <span class="metric-digest-header" uib-tooltip="Scheduled retry rate: The number of messages per second scheduled for retries (immediate or delayed).">
                                Scheduled Retries Rate
                            </span>
                        </div>

                        <div class="row metric-digest-value current">
                            {{endpoint.digest.metrics.retries.latest | number:2}} <span class="metric-digest-value-suffix">MSGS</span>
                        </div>
                        <div class="row metric-digest-value average">
                            {{endpoint.digest.metrics.retries.average | number:2}} <span class="metric-digest-value-suffix">MSGS AVG</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 no-side-padding list-section graph-area graph-critical-processing-times">
                <!-- here goes diagram -->
                <large-graph ng-if="endpoint.metricDetails.metrics.processingTime"
                             first-data-series="endpoint.metricDetails.metrics.criticalTime"
                             second-data-series="endpoint.metricDetails.metrics.processingTime"
                             xAxis-points="endpoint.metricDetails.metrics.criticalTime.timeAxisValues"
                             plot-width="750"
                             plot-height="200"
                             first-series-color="#2700CB"
                             first-series-fill-color="#C4BCE5"
                             second-series-color="#258135"
                             second-series-fill-color="#BEE6C5"
                             is-duration-graph="true"
                             class="large-graph pull-left"></large-graph>

                <div class="col-sm-12 no-side-padding graph-values">
                    <div class="col-sm-6 no-side-padding critical-time-values">
                        <div class="row">
                            <span class="metric-digest-header" uib-tooltip="Critical time: The elapsed time from when a message was sent, until it was successfully processed by a receiving endpoint.">
                                Critical Time
                            </span>
                        </div>
                        <div class="row metric-digest-value current">
                            {{endpoint.digest.metrics.criticalTime.latest | durationValue}} 
                            <span class="metric-digest-value-suffix">{{endpoint.digest.metrics.criticalTime.latest | durationUnit}} </span>
                        </div>
                        <div class="row metric-digest-value average">
                            {{endpoint.digest.metrics.criticalTime.average | durationValue}} 
                            <span class="metric-digest-value-suffix">{{endpoint.digest.metrics.criticalTime.average | durationUnit}} AVG</span>
                        </div>
                    </div>

                    <div class="col-sm-6 no-side-padding processing-time-values">
                        <div class="row">
                            <span class="metric-digest-header" uib-tooltip="Processing time: The time taken for a receiving endpoint to successfully process a message.">
                                Processing Time
                            </span>
                        </div>
                        <div class="row metric-digest-value current">
                            {{endpoint.digest.metrics.processingTime.latest | durationValue}} 
                            <span class="metric-digest-value-suffix">{{endpoint.digest.metrics.processingTime.latest | durationUnit}} </span>
                        </div>
                        <div class="row metric-digest-value average">
                            {{endpoint.digest.metrics.processingTime.average | durationValue}} 
                            <span class="metric-digest-value-suffix">{{endpoint.digest.metrics.processingTime.average | durationUnit}}  AVG</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <busy ng-show="loading" message="Loading details"></busy>
    <div class="tabs">
        <h5 ng-class="{active: !showInstancesBreakdown}">
            <a ng-click="showInstancesBreakdown = false" class="ng-binding">Message Types</a>
        </h5>
        <h5 ng-class="{active: showInstancesBreakdown}">
            <a ng-click="showInstancesBreakdown = true" class="ng-binding">Instances</a>
        </h5>
    </div>

    <section ng-if="showInstancesBreakdown">
        <div class="row">
            <div class="col-sm-12 no-side-padding">

                <!-- Breakdown by instance -->
                <busy ng-show="loading" message="Loading details"></busy>

                <div ng-show="!loading" class="row box box-no-click table-head-row">
                    <div class="col-sm-2 col-xl-8">
                        <div class="row box-header">
                            <div class="col-sm-12">
                                <p>Instance Name</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xl-1 no-side-padding">
                        <div class="row box-header">
                            <div class="col-sm-12 no-side-padding" uib-tooltip="Throughput: The number of messages per second successfully processed by a receiving endpoint.">
                                <p>Throughput <span class="table-header-unit">(msgs/s)</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xl-1 no-side-padding">
                        <div class="row box-header">
                            <div class="col-sm-12 no-side-padding" uib-tooltip="Scheduled retry rate: The number of messages per second scheduled for retries (immediate or delayed).">
                                <p>Scheduled retry rate <span class="table-header-unit">(msgs/s)</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xl-1 no-side-padding">
                        <div class="row box-header">
                            <div class="col-sm-12 no-side-padding" uib-tooltip="Processing time: The time taken for a receiving endpoint to successfully process a message.">
                                <p>Processing Time <span class="table-header-unit">(t)</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xl-1 no-side-padding">
                        <div class="row box-header">
                            <div class="col-sm-12 no-side-padding" uib-tooltip="Critical time: The elapsed time from when a message was sent, until it was successfully processed by a receiving endpoint.">
                                <p>Critical Time <span class="table-header-unit">(t)</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 no-side-padding">
                        <div class="row box endpoint-row" ng-repeat="instance in endpoint.instances">
                            <div class="col-sm-12 no-side-padding">
                                <div class="row">
                                        <div class="col-sm-2 col-xl-8 endpoint-name">
                                            <div class="row box-header">
                                                <div class="col-sm-12 no-side-padding lead">

                                                        {{instance.id}}
                                                        <a ng-if="instance.errorCount" class="warning btn" href="#/failed-messages/groups/{{endpointName}}/{{sourceIndex}}/{{instance.serviceControlId}}">
                                                            <i class="fa fa-envelope"></i>
                                                            <span class="badge badge-important ng-binding">{{instance.errorCount | metricslargenumber}}</span>
                                                            <span ng-if="instance.isStale" class="warning pull-right">
                                                                <i class="fa fa-exclamation-triangle" uib-tooltip="Endpoint does not appear to be connected to the monitoring server anymore"></i>
                                                            </span>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-sm-2 col-xl-1 no-side-padding">
                                        <div class="row box-header">
                                            <div class="no-side-padding">
                                                <graph plot-data="instance.metrics.throughput" class="graph throughput pull-left"></graph>
                                                <span ng-if="instance.isStale" class="warning pull-right graphicon">
                                                    <i class="fa fa-exclamation-triangle" uib-tooltip="Endpoint does not appear to be connected to the monitoring server anymore"></i>
                                                </span>
                                            </div>
                                            <div class="no-side-padding sparkline-value">
                                                {{instance.metrics.throughput.displayValue}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xl-1 no-side-padding">
                                        <div class="row box-header">
                                            <div class="no-side-padding">
                                                <graph plot-data="instance.metrics.retries" class="graph retries pull-left"></graph>
                                                <span ng-if="instance.isStale" class="warning pull-right graphicon">
                                                    <i class="fa fa-exclamation-triangle" uib-tooltip="Endpoint does not appear to be connected to the monitoring server anymore"></i>
                                                </span>
                                            </div>
                                            <div class="no-side-padding sparkline-value">
                                                {{instance.metrics.retries.displayValue}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xl-1 no-side-padding">
                                        <div class="row box-header">
                                            <div class="no-side-padding">
                                                <graph plot-data="instance.metrics.processingTime" class="graph processing-time pull-left"></graph>
                                                <span ng-if="instance.isStale" class="warning pull-right graphicon">
                                                    <i class="fa fa-exclamation-triangle" uib-tooltip="Endpoint does not appear to be connected to the monitoring server anymore"></i>
                                                </span>
                                            </div>
                                            <div class="no-side-padding sparkline-value">
                                                {{instance.metrics.processingTime.displayValue.value}} <span>{{instance.metrics.processingTime.displayValue.unit}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xl-1 no-side-padding">
                                        <div class="row box-header">
                                            <div class="no-side-padding">
                                                <graph plot-data="instance.metrics.criticalTime" class="graph critical-time pull-left"></graph>
                                                <span ng-if="instance.isStale" class="warning pull-right graphicon">
                                                    <i class="fa fa-exclamation-triangle" uib-tooltip="Endpoint does not appear to be connected to the monitoring server anymore"></i>
                                                </span>
                                            </div>
                                            <div class="no-side-padding sparkline-value">
                                                {{instance.metrics.criticalTime.displayValue.value}} <span>{{instance.metrics.criticalTime.displayValue.unit}}</span>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </section>

    <section ng-if="!showInstancesBreakdown">
        <div class="row">
            <div class="col-sm-12 no-side-padding">
                <!-- Breakdown by message type-->
                <busy ng-show="loading" message="Loading details"></busy>

                <div ng-show="!loading" class="row box box-no-click table-head-row">
                    <div class="col-sm-2 col-xl-8">
                        <div class="row box-header">
                            <div class="col-sm-12">
                                <p>Message type name</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xl-1 no-side-padding">
                        <div class="row box-header">
                            <div class="col-sm-12 no-side-padding" uib-tooltip="Throughput: The number of messages per second successfully processed by a receiving endpoint.">
                                <p>Throughput <span class="table-header-unit">(msgs/s)</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xl-1 no-side-padding">
                        <div class="row box-header">
                            <div class="col-sm-12 no-side-padding" uib-tooltip="Scheduled retry rate: The number of messages per second scheduled for retries (immediate or delayed).">
                                <p>Scheduled retry rate <span class="table-header-unit">(msgs/s)</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xl-1 no-side-padding">
                        <div class="row box-header">
                            <div class="col-sm-12 no-side-padding" uib-tooltip="Processing time: The time taken for a receiving endpoint to successfully process a message.">
                                <p>Processing Time <span class="table-header-unit">(t)</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xl-1 no-side-padding">
                        <div class="row box-header">
                            <div class="col-sm-12 no-side-padding" uib-tooltip="Critical time: The elapsed time from when a message was sent, until it was successfully processed by a receiving endpoint.">
                                <p>Critical Time <span class="table-header-unit">(t)</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 no-side-padding">
                        <div class="row box endpoint-row" ng-repeat="messageType in endpoint.messageTypes">
                            <div class="col-sm-12 no-side-padding">
                                <div class="row">
                                    <div class="col-sm-2 col-xl-8 endpoint-name">
                                        <div class="row box-header">
                                            <div class="col-sm-12 no-side-padding lead message-type-label">
                                                
                                                    <div ng-show="{{!messageType.typeName}}">N/A</div>
                                                
                                                    <div ng-show="{{messageType.typeName != ''}}">{{messageType.typeName}}</div>
                                                    <div ng-show="{{messageType.typeName != ''}}" class="message-type-part">{{messageType.assemblyName + '-' + messageType.assemblyVersion}}</div>
                                                    <div ng-show="{{messageType.culture != ''}}" class="message-type-part">{{'Culture=' + messageType.culture}}</div>
                                                    <div ng-show="{{messageType.publicKeyToken != ''}}"class="message-type-part">{{'PublicKeyToken=' + messageType.publicKeyToken}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xl-1 no-side-padding">
                                        <div class="row box-header">
                                            <div class="no-side-padding">
                                                <graph plot-data="messageType.metrics.throughput" class="graph throughput pull-left"></graph>
                                            </div>
                                            <div class="no-side-padding sparkline-value">
                                                {{messageType.metrics.throughput.displayValue}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xl-1 no-side-padding">
                                        <div class="row box-header">
                                            <div class="no-side-padding">
                                                <graph plot-data="messageType.metrics.retries" class="graph retries pull-left"></graph>
                                            </div>
                                            <div class="no-side-padding sparkline-value">
                                                {{messageType.metrics.retries.displayValue}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xl-1 no-side-padding">
                                        <div class="row box-header">
                                            <div class="no-side-padding">
                                                <graph plot-data="messageType.metrics.processingTime" class="graph processing-time pull-left"></graph>
                                            </div>
                                            <div class="no-side-padding sparkline-value">
                                                {{messageType.metrics.processingTime.displayValue.value}} <span>{{messageType.metrics.processingTime.displayValue.unit}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xl-1 no-side-padding">
                                        <div class="row box-header">
                                            <div class="no-side-padding">
                                                <graph plot-data="messageType.metrics.criticalTime" class="graph critical-time pull-left"></graph>
                                            </div>
                                            <div class="no-side-padding sparkline-value">
                                                {{messageType.metrics.criticalTime.displayValue.value}} <span>{{messageType.metrics.criticalTime.displayValue.unit}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
