<div class="text-center monitoring-no-data">
    <h1>No data available</h1>
    <p>Monitoring service is active but no data is returned.</p>
    <h3>Potential causes:</h3>
    <ul>
        <li>no endpoints running</li>
        <li>no endpoints with <strong>monitoring plugin</strong> enabled.</li>
        <li>endpoints sending data to incorrect queue or monitoring server listening</li>
    </ul>
    <div class="action-toolbar">
        <a class="btn btn-default btn-secondary" href="https://docs.particular.net/monitoring/metrics/">Learn how to enable metrics for endpoints</a>
    </div>
</div>
