<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container monitoring-view" ng-show="endpoints.length" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="row monitoring-head">
        <div class="col-xs-4 no-side-padding list-section">
            <h1>Endpoints overview</h1>
        </div>
        <div class="col-xs-8 no-side-padding toolbar-menus">
            <div class="filter-group filter-monitoring">
                <ul class="nav nav-pills period-selector">
                    <li role="presentation" ng-repeat="period in periods" ng-class="(period.value == selectedPeriod.value ? 'active' : 'notselected')">
                        <a ng-click="selectPeriod(period)" href="#/monitoring?historyPeriod={{period.value}}" uib-tooltip="{{period.refreshIntervalText}}.">{{period.text}}</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <label class="control-label">Group by:</label>
                    <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-tooltip="Endpoint grouping will take '.' in endpoint names to delimit segments. Grouping endpoints will disable list sorting.">
                        {{ grouping.selectedGrouping == 0 ? 'no grouping' : ('max. ' + grouping.selectedGrouping + ' segments')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" ng-click="grouping.selectGroup(0); $event.preventDefault();">no grouping</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-repeat="x in [].constructor(grouping.groupSegments) track by $index"><a href="#" ng-click="grouping.selectGroup($index+1); $event.preventDefault();">max. {{$index+1}} segments</a></li>
                    </ul>
                </div>
                <input type="text" placeholder="Filter by name..." class="form-control-static filter-input" ng-model="filter.name" />
            </div>
        </div>
    </div>
</div>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <ng-include src="'modules/monitoring/views/monitored_endpoints_list.html'"></ng-include>
    <ng-include src="'modules/monitoring/views/monitored_endpoints_list_grouped.html'"></ng-include>
</div>
