<div class="text-center monitoring-no-data">
    <h1>No connectivity</h1>
    <p>Monitoring is not available at <strong>{{monitoringUrl}}</strong></p>

    <h3>Potential causes:</h3>
    <ul>
        <li>the <strong>monitoring server</strong> not running</li>
        <li>the <strong>monitoring server address</strong> is incorrect</li>
        <li>the <strong>monitoring server</strong> not accessible (validate the configured hostname in ServiceControl Management Utility)</li>
    </ul>
    <div class="action-toolbar">
        <a href="#/configuration/connections" class="btn btn-default btn-primary">View Connection Details</a>
    </div>
</div>
