<div class="container" ng-show="endpoints.length">
    <div class="row monitoring-head">
        <div class="col-sm-10 no-side-padding list-section">
            <h1>Endpoints overview</h1>
        </div>
        <div class="col-sm-2 no-side-padding toolbar-menus">
            <div class="msg-group-menu dropdown">
                <label class="control-label">Period:</label>
                <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedPeriod.text}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="period in periods">
                        <a ng-click="selectPeriod(period)" href="#/monitored_endpoints?historyPeriod={{period.value}}">{{period.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <section ng-show="true">
        <div class="text-center monitoring-no-data" ng-show="!endpoints.length">
            <h1>Endpoint monitoring not available</h1>
                <p>Monitoring is not available due to one or more of these reasons:</p>
                <ul>
                    <li>the <strong>monitoring server</strong> is not configured or is unavailable</li>
                    <li>the <strong>monitoring plugin</strong> is not installed on the endpoints to be monitored</li>
                    <li>endpoints without the monitoring plugin do not have <strong>auditing</strong> enabled</li>
                </ul>
            <div class="action-toolbar">
                <a class="btn btn-default btn-primary" href="https://docs.particular.net/search?q=metrics">Learn more</a>
            </div>
        </div>
        
        <div ng-show="endpoints.length" class="row box box-no-click table-head-row">
            <div class="col-sm-2 col-xl-7">
                <div class="row box-header">
                    <div class="col-sm-12">
                        Endpoint name
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xl-1 no-side-padding">
                <div class="row box-header">
                    <div class="col-sm-12 no-side-padding">
                        <div class="tooltip-trigger">
                            Queue Length <span class="table-header-unit">(msgs)</span> <i class="fa fa-flask fake-link"></i>
                            <div class="interactive-tooltip">
                                <div class="tooltip-contents">
                                    <p>Queue length: The estimated number of messages in an endpoint's queue.</p>
                                    <p>WARNING: This is an experimental feature. <a href="https://docs.particular.net/search?q=nservicebus+queue+length+metric+%2bexperimental" target="_blank">Learn more</a> <i class="fa fa-external-link fake-link"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xl-1 no-side-padding">
                <div class="row box-header">
                    <div class="col-sm-12 no-side-padding" uib-tooltip="Throughput: The number of messages per second successfully processed by a receiving endpoint.">
                        Throughput <span class="table-header-unit">(msgs/s)</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xl-1 no-side-padding">
                <div class="row box-header">
                    <div class="col-sm-12 no-side-padding" uib-tooltip="Scheduled retry rate: The number of messages per second scheduled for retries (immediate or delayed).">
                        Scheduled retry rate <span class="table-header-unit">(msgs/s)</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xl-1 no-side-padding">
                <div class="row box-header">
                    <div class="col-sm-12 no-side-padding" uib-tooltip="Processing time: The time taken for a receiving endpoint to successfully process a message.">
                        Processing Time <span class="table-header-unit">(t)</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xl-1 no-side-padding">
                <div class="row box-header">
                    <div class="col-sm-12 no-side-padding" uib-tooltip="Critical time: The elapsed time from when a message was sent, until it was successfully processed by a receiving endpoint.">
                        Critical Time <span class="table-header-unit">(t)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 no-side-padding">
                <div class="row box endpoint-row box-group" ng-repeat="endpoint in endpoints" ng-mouseenter="endpoint.hover1=true" ng-mouseleave="endpoint.hover1=false">
                    <div class="col-sm-12 no-side-padding">
                        <div class="row">
                            <a class="hard-wrap lead" ng-click="endpoint.isExpanded = !endpoint.isExpanded" ng-href="{{getDetailsUrl(endpoint)}}">
                                <div class="col-sm-2 col-xl-7 endpoint-name">
                                    <div class="row box-header">
                                        <div class="col-sm-12 no-side-padding">

                                            {{endpoint.name}}
                                            <div class="endpoint-status">
                                                <span class="warning" ng-if="endpoint.isScMonitoringDisconnected">
                                                    <i class="fa pa-monitoring-lost endpoint-details" uib-tooltip="Unable to connect to monitoring server"></i>
                                                </span>
                                                <span class="warning" ng-if="endpoint.isStale">
                                                    <i class="fa pa-endpoint-lost endpoint-details" uib-tooltip="Unable to connect to endpoint"></i>
                                                </span>
                                                <a ng-if="endpoint.errorCount > 0" class="warning" href="#/failed-messages/groups/{{endpoint.serviceControlId}}">
                                                    <i class="fa fa-envelope"></i>
                                                    <span class="badge badge-important ng-binding">{{endpoint.errorCount | metricslargenumber}}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xl-1 no-side-padding" ng-if="endpoint.isConnected">
                                    <div class="row box-header">
                                        <div class="no-side-padding">
                                            <graph plot-data="endpoint.metrics.queueLength" minimum-YAxis="{{smallGraphsMinimumYAxis.queueLength}}" class="graph queue-length pull-left"></graph>
                                        </div>
                                        <div class="no-side-padding sparkline-value">
                                            {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.queueLength.displayValue}}
                                            <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xl-1 no-side-padding" ng-if="endpoint.isConnected">
                                    <div class="row box-header">
                                        <div class="no-side-padding">
                                            <graph plot-data="endpoint.metrics.throughput" minimum-YAxis="{{smallGraphsMinimumYAxis.throughput}}" class="graph throughput pull-left"></graph>
                                        </div>
                                        <div class="no-side-padding sparkline-value">
                                            {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.throughput.displayValue}}
                                            <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xl-1 no-side-padding" ng-if="endpoint.isConnected">
                                    <div class="row box-header">
                                        <div class="no-side-padding">
                                            <graph plot-data="endpoint.metrics.retries" minimum-YAxis="{{smallGraphsMinimumYAxis.retries}}" class="graph retries pull-left"></graph>
                                        </div>
                                        <div class="no-side-padding sparkline-value">
                                            {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.retries.displayValue}}
                                            <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xl-1 no-side-padding" ng-if="endpoint.isConnected">
                                    <div class="row box-header">
                                        <div class="no-side-padding">
                                            <graph plot-data="endpoint.metrics.processingTime" minimum-YAxis="{{smallGraphsMinimumYAxis.processingTime}}" class="graph processing-time pull-left"></graph>
                                        </div>
                                        <div class="no-side-padding sparkline-value">
                                            {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.processingTime.displayValue.value}}
                                            <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                            <span ng-if="endpoint.isStale == false || endpoint.isScMonitoringDisconnected == false"> {{endpoint.metrics.processingTime.displayValue.unit}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xl-1 no-side-padding" ng-if="endpoint.isConnected">
                                    <div class="row box-header">
                                        <div class="no-side-padding">
                                            <graph plot-data="endpoint.metrics.criticalTime" minimum-YAxis="{{smallGraphsMinimumYAxis.criticalTime}}" class="graph critical-time pull-left"></graph>
                                        </div>
                                        <div class="no-side-padding sparkline-value">
                                            {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.criticalTime.displayValue.value}}
                                            <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                            <span ng-if="endpoint.isStale == false || endpoint.isScMonitoringDisconnected == false"> {{endpoint.metrics.criticalTime.displayValue.unit}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-2 col-xl-1 no-side-padding" ng-if="!endpoint.isConnected">
                                    <div class="row box-header">
                                        No plug-ins installed. 
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
