<div class="text-center monitoring-no-data">
    <h1>Endpoint monitoring not available</h1>
    <p>Monitoring is not available due to one or more of these reasons:</p>
    <ul>
        <li>the <strong>monitoring server</strong> is not configured or is unavailable</li>
        <li>the <strong>monitoring plugin</strong> is not installed on the endpoints to be monitored</li>
        <li>endpoints without the monitoring plugin do not have <strong>auditing</strong> enabled</li>
    </ul>
    <div class="action-toolbar">
        <a class="btn btn-default btn-primary" href="https://docs.particular.net/monitoring/metrics/">Learn more</a>
    </div>
</div>
