<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="sp-loader" ng-if="isSCConnecting"></div>
    <div ng-include="'js/views/sc_not_available.html'" ng-show="!isSCConnected && !isSCConnecting && !scConnectedAtLeastOnce"></div>

    <section ng-show="isSCConnected || scConnectedAtLeastOnce">
        <reindexingstatus></reindexingstatus>

        <div class="row">
            <div class="col-sm-12 padded">
                <h1>Custom checks</h1>
            </div>
        </div>

        <section name="custom_checks">
            <busy ng-show="loadingData" message="fetching more data"></busy>

            <no-data ng-show="!loadingData && pager.total == 0" message="No failed custom checks"></no-data>

            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <div class="row box box-warning box-no-click" ng-repeat="item in model.data | orderBy: '-reported_at'">
                            <div class="col-sm-12 no-side-padding">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <div class="row box-header">
                                            <div class="col-sm-12 no-side-padding">
                                                <p class="lead pre-wrap">{{item.failure_reason}}</p>                                                
                                                <div class="row">
                                                    <div class="col-sm-12 no-side-padding">
                                                        <p class="metadata">
                                                            <span class="metadata"><i aria-hidden="true" class="fa fa-check"></i> Check: {{item.custom_check_id}}</span>
                                                            <span class="metadata"><i aria-hidden="true" class="fa fa-list"></i> Category: {{item.category}}</span>
                                                            <span class="metadata"><i aria-hidden="true" class="fa pa-endpoint"></i> Endpoint: {{item.originating_endpoint.name}}</span>
                                                            <span class="metadata"><i aria-hidden="true" class="fa fa-server"></i> Host: {{item.originating_endpoint.host}}</span>
                                                            <span class="metadata"><i aria-hidden="true" class="fa fa-clock-o"></i> Last checked: <sp-moment date="{{item.reported_at}}"></sp-moment></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 pull-right">
                                        <button type="button" class="btn btn-default pull-right" title="Dismiss this custom check so it doesn't show up as an alert" ng-click="dismiss(item)">
                                            Dismiss
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <ul uib-pagination ng-hide="pager.total <= pager.perPage" items-per-page="pager.perPage" total-items="pager.total" ng-model="pager.page" max-size="10" boundary-link-numbers="true" ng-change="loadMoreResults()"></ul>
                </div>
            </div>
        </section>
    </section>
</div>