<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.17.0.0" targetFramework="net40" />
  <package id="GitFlowVersion.Fody" version="0.1.16" targetFramework="net40" />
  <package id="Nancy" version="0.20.0" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.20.0" targetFramework="net40" />
</packages>