<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="sp-loader" ng-if="isSCConnecting"></div>
    <div ng-include="'js/views/sc_not_available.html'" ng-show="!isSCConnected && !isSCConnecting && !scConnectedAtLeastOnce"></div>

    <section ng-show="isSCConnected || scConnectedAtLeastOnce">

        <reindexingstatus></reindexingstatus>

        <div class="row">
            <div class="col-sm-12 no-side-padding">
                <h1>Endpoint heartbeats</h1>
            </div>
        </div>

        <div class="tabs">
            <h5 ng-class="{active: isInactiveEndpoints == true}"><a ng-click="isInactiveEndpoints = true; isActiveEndpoints = false; isEndpointsConfiguration = false;">Inactive Endpoints ({{model.inactive.length | number}})</a></h5>
            <h5 ng-class="{active: isActiveEndpoints == true}"><a ng-click="isActiveEndpoints = true; isInactiveEndpoints = false; isEndpointsConfiguration = false;">Active Endpoints ({{model.active.length | number}})</a></h5>
            <h5 ng-class="{active: isEndpointsConfiguration == true}"><a ng-click="isEndpointsConfiguration = true; isInactiveEndpoints = false; isActiveEndpoints = false;">Configuration</a></h5>

            <div class="filter-group">

                <div class="msg-group-menu dropdown">
                    <label class="control-label">Sort by:</label>
                    <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{sort}} {{sortDir}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat-start="sort in sortOptions"><a ng-click="changeSort(sort, 'asc')">{{sort}}</a></li>
                        <li ng-repeat-end><a ng-click="changeSort(sort, 'desc')">{{sort}} <span>(Descending)</span></a></li>
                    </ul>
                </div>
                
                <input type="text" placeholder="Filter by name..." class="form-control-static" ng-model="endpointFilter" />

            </div>
        </div>

        <section ng-show="isActiveEndpoints" name="active_endpoints">
            <no-data ng-show="model.active.length == 0" message="No active endpoints"></no-data>
            <div class="row">
                <div class="col-sm-12 no-side-padding">
                    <div class="row box box-no-click" ng-repeat="endpoint in model.active | filter:endpointFilter">
                        <div class="col-sm-12 no-side-padding">
                            <div class="row">

                                <div class="col-sm-12 no-side-padding">
                                    <div class="row box-header">
                                        <div class="col-sm-12 no-side-padding">
                                            <p class="lead hard-wrap">{{endpoint.name}}@{{endpoint.host_display_name}}</p>
                                            <p>
                                                latest heartbeat received <sp-moment date="{{endpoint.heartbeat_information.last_report_at}}"></sp-moment>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section ng-show="isInactiveEndpoints" name="inactive_endpoints">
            <no-data ng-show="model.inactive.length == 0" message="No inactive endpoints"></no-data>
            <div class="row">
                <div class="col-sm-12 no-side-padding">
                    <div class="row box box-no-click" ng-repeat="endpoint in model.inactive | filter:endpointFilter">
                        <div class="col-sm-12 no-side-padding">
                            <div class="row">
                                <div class="col-sm-12 no-side-padding">
                                    <div class="row box-header">
                                        <div class="col-sm-12 no-side-padding">
                                            <p class="lead hard-wrap">{{endpoint.name}}@{{endpoint.host_display_name}} <a class="remove-item" ng-if="isDeleteEndpointsEnabled" ng-click="deleteEndpoint(endpoint)"><i class="fa fa-trash" uib-tooltip="Remove endpoint from list"></i></a></p>
                                            <p>
                                                latest heartbeat received <sp-moment date="{{endpoint.heartbeat_information.last_report_at}}"></sp-moment>
                                            </p>
                                            <p ng-show="!endpoint.heartbeat_information">No plugin installed</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section ng-show="isEndpointsConfiguration" name="endpoint_configuration">
        <div class="row">
            <div class="col-sm-12 no-side-padding">
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> <strong>Warning:</strong> The list of endpoints below only contains endpoints with the heartbeats plug-in installed. Toggling heartbeat monitoring won't toggle <a href="https://docs.particular.net/monitoring/metrics/in-servicepulse" target="_blank">performance monitoring</a> <i class="fa fa-external-link fake-link"></i>
                </div>
                
                <div class="row box box-no-click" ng-class="{'box-info': e.monitor_heartbeat, 'box-danger':  !e.monitor_heartbeat}" ng-repeat="e in model.endpoints | filter:endpointFilter">
                    <div class="col-sm-12 no-side-padding">
                        <div class="row">
                            <div class="col-xs-1">
                                <div class="onoffswitch">
                                    <input type="checkbox" id="onoffswitch{{$id}}" name="onoffswitch{{$id}}" class="onoffswitch-checkbox" ng-click="update(e.id, !e.monitor_heartbeat)" ng-checked="e.monitor_heartbeat">
                                    <label class="onoffswitch-label" for="onoffswitch{{$id}}">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                                <span ng-show="e.monitor_heartbeat"></span><span ng-show="!e.monitor_heartbeat"></span>
                            </div>
                            <div class="col-xs-9 col-sm-10 col-lg-11">
                                <div class="row box-header">
                                    <div class="col-xs-12">
                                        <p class="lead">
                                            {{e.name}}<span class="de-emphasize">@</span>{{e.host_display_name}}
                                        </p>
                                        <p class="endpoint-metadata" ng-show="e.heartbeat_information">
                                            <i class="fa fa-heartbeat"></i> <sp-moment date="{{e.heartbeat_information.last_report_at}}" />
                                        </p>
                                        <p class="endpoint-metadata" ng-show="!e.heartbeat_information">
                                            <i class="fa fa-heartbeat"></i> No recent heartbeat information available
                                        </p>
                                        <p class="endpoint-metadata" ng-show="!e.heartbeat_information">
                                            <i class="fa fa-plug"></i> No heartbeat plugin installed
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row box box-info box-no-click" ng-show="model.endpoints.length == 0">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <span class="subdued glyphicon glyphicon-info-sign fa-2x" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-11">
                                <div class="row box-header">
                                    <div class="col-sm-12">
                                        <p class="lead hard-wrap">Nothing to configure</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</div>