<div class="row">

    <ul class="breadcrumb">
        <li>
            <a href="#/dashboard">Home</a>
        </li>
        <li>Configuration</li>
    </ul>

</div>

<div class="container">
    <section name="configuration">
        <div class="row">
            <div class="col-md-12">
                <h5>endpoints configuration</h5>
                <div class="row box" ng-class="{'box-info': e.monitor_heartbeat, 'box-danger':  !e.monitor_heartbeat}" ng-repeat="e in model.endpoints | orderBy:'name'">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <span ng-show="e.monitor_heartbeat" class="subdued glyphicon glyphicon-ok fa-2x" aria-hidden="true"></span>
                                <span ng-show="e.monitor_heartbeat" >enabled</span>
                                <span ng-show="!e.monitor_heartbeat" class="subdued glyphicon glyphicon-remove fa-2x" aria-hidden="true"></span>
                                <span ng-show="!e.monitor_heartbeat">disabled</span>
                       
                            </div>
                            <div class="col-sm-9">
                                <div class="row box-header">
                                    <div class="col-md-12">
                                        <p class="lead">{{e.host_display_name}} ({{e.name}}) </p>
                                        <p ng-show="e.heartbeat_information">last hearbeat reported at <sp-moment date="{{e.heartbeat_information.last_report_at}}"/>
                                        </p>
                                        <p ng-show="!e.heartbeat_information">no recent heartbeat information available</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-link btn-sm pull-right" ng-click="update(e.id, !e.monitor_heartbeat)">{{e.monitor_heartbeat ? "disable" : "enable"}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row box box-info" ng-show="model.endpoints.length == 0">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <span class="subdued glyphicon glyphicon-info-sign fa-2x" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-11">
                                <div class="row box-header">
                                    <div class="col-md-12">
                                        <p class="lead hard-wrap">Nothing to configure</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


