<div class="row">
 
    <ul class="breadcrumb">
        <li>
            <a href="#/dashboard">Home</a> 
        </li>
        <li>Configuration</li>
    </ul>
   
</div>
<div class="row">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="fa fa-cog"></i><span class="break"></span>Endpoints Configuration</h2>
        </div>
        <div class="box-content">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Host</th>
                    <th>Latest Heartbeat</th>
                    <th>Enabled</th>
                    <th><span tooltip="Monitor the endpoint, and send alert if heartbeats are not received.">Monitor</span></th>
                </tr>
                <tr ng-repeat="e in model.endpoints | orderBy:'name'">
                    <td>{{e.name}}</td>
                    <td>{{e.host_display_name}}</td>
                    <td ng-show="e.heartbeat_information"><sp-moment date="{{e.heartbeat_information.last_report_at}}" /></td>
                    <td ng-show="!e.heartbeat_information">N/A</td>
                    <td><span ng-show="e.monitor_heartbeat"><i class="fa fa-check"></i></span><span ng-show="!e.monitor_heartbeat"><i class="fa fa-times"></i></span></td>
                    <td>
                        <div ng-show="e.workflow_state.status !== 'ready'" class="animate-box">
                            {{e.workflow_state.message}}
                        </div>

                        <div ng-show="e.workflow_state.status === 'ready'" class="switch">
                            <button class="btn " ng-class="{'btn-warning' : e.monitor_heartbeat, 'btn-default': !e.monitor_heartbeat}"  ng-click="update(e.id, !e.monitor_heartbeat)">{{e.monitor_heartbeat ? "Disable" : "Enable"}}</button>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

