<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="row">
        <div class="col-sm-12">
            <h1>Configuration</h1>
        </div>
    </div>
</div>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <section name="alerting">

        <configuration-tabs></configuration-tabs>

        <div class="col-sm-12">
            <div class="box">
                <div class="row">
                    <div class="col-sm-12">

                        <form name="alertingForm" novalidate>
                            <div class="row alerting">
                                <h3>Notifications</h3>
                                <div class="col-sm-2">
                                    <h4>Email</h4>
                                </div>
                                <div class="col-sm-2">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-primary" type="button" ng-click="vm.editEmailNotifications()">Edit</button>
                                        <button class="btn btn-secondary" type="button" ng-click="vm.testEmailNotifications()" 
                                            ng-class="{'pa-connection-establishing': vm.testInProgress}"
                                            ng-disabled="vm.testInProgress">Test</button>
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="onoffswitch">
                                        <input type="checkbox" id="onoffswitch" name="onoffswitch"
                                            class="onoffswitch-checkbox" ng-click="vm.toogleAlerting()"
                                            ng-checked="vm.settings.alerting_enabled">
                                        <label class="onoffswitch-label" for="onoffswitch">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>