<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="row">
        <div class="col-sm-12">
            <h1>Configuration</h1>
        </div>
    </div>
</div>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <section name="connections">

        <configuration-tabs></configuration-tabs>

        <div class="row">
            <div class="col-sm-12">
                <h3>Configure your connection settings!</h3>

                <form name="" novalidate>
                    <label for="serviceControlUrl">ServiceControl API Url</label>
                    <i class="fa fa-info-circle" uib-tooltip="Defines the ServiceControl API Url used by ServicePulse"></i>
                    <div>
                        <input type="text" id="serviceControlUrl" name="serviceControlUrl" ng-model="vm.configuredServiceControlUrl" placeholder="ServiceControl API Url" class="form-control" required>
                    </div>

                    <label for="monitoringUrl">Monitoring Url</label>
                    <i class="fa fa-info-circle" uib-tooltip="Defines the Monitoring Url used by ServicePulse"></i>
                    <div>
                        <input type="text" id="monitoringUrl" name="monitoringUrl" ng-model="vm.configuredMonitoringUrl" placeholder="Monitoring Url" class="form-control" required>
                    </div>
                    <button type="button" ng-click="vm.testAndSave()">Test and Save</button>
                </form>

            </div>
        </div>

    </section>
</div>



