<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="row">
        <div class="col-sm-12">
            <h1>Configuration</h1>
        </div>
    </div>
</div>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <section name="connections">

        <configuration-tabs></configuration-tabs>

        <div class="col-sm-12">
            <div class="box">
                <div class="row">
                    <div class="col-sm-6">
                        
                        <form novalidate>
                            <div class="row connection">
                                <h3>ServiceControl</h3>                                
                                
                                <div class="col-sm-9 form-group">
                                    <label for="serviceControlUrl">URL</label>
                                    <input type="text" id="serviceControlUrl" name="serviceControlUrl" ng-model="vm.configuredServiceControlUrl" class="form-control" required />                                    
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="serviceControlPort">Port</label>
                                    <input type="text" id="serviceControlPort" name="serviceControlPort" class="form-control" required />
                                </div>

                                <button type="button" ng-click="vm.testServiceControlUrl()">Test</button>
                                <i ng-show="vm.serviceControlValid == true && !vm.testingServiceControl" class="fa fa-check"></i>
                                <i ng-show="vm.serviceControlValid == false && !vm.testingServiceControl" class="fa fa-times warning"></i>
                                <i ng-show="vm.testingServiceControl" class="glyphicon glyphicon-refresh rotate"></i>
                                
                            </div>

                            <div class="row connection">
                                <h3>ServiceControl Monitoring</h3>                                                            
                                <div class="col-sm-9 form-group px-0">
                                    <label for="monitoringUrl">URL</label>
                                    <input type="text" id="monitoringUrl" name="monitoringUrl" ng-model="vm.configuredMonitoringUrl" class="form-control" required />                                    
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="monitoringPort">Port <span class="failed-validation"><i class="fa fa-exclamation-triangle"></i> Invalid</span></label>
                                    <input type="text" id="monitoringPort" name="monitoringPort" ng-model="vm.configuredMonitoringUrl" class="form-control" required />                                    
                                </div>

                                <button type="button" ng-click="vm.testMonitoringUrl()">Test</button>
                                <i ng-show="vm.monitoringValid == true && !vm.testingMonitoring" class="fa fa-check"></i>
                                <i ng-show="vm.monitoringValid == false && !vm.testingMonitoring" class="fa fa-times warning"></i>
                                <i ng-show="vm.testingMonitoring" class="glyphicon glyphicon-refresh rotate"></i>
                                
                            </div>

                            <button class="btn btn-primary" type="button" ng-click="vm.save()">Test and Save</button>
                            <span class="connection-test connection-successful"><i class="fa fa-check"></i> Connection successful</span>
                            <span class="connection-test connection-failed hide"><i class="fa fa-exclamation-triangle"></i> Unable to establish connection</span>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>