<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="row">
        <div class="col-sm-12">
            <h1>Configuration</h1>
        </div>
    </div>
</div>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <section name="platformconnection">

        <configuration-tabs></configuration-tabs>

        <div class="col-sm-12">
            <div class="box">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Connect your endpoint to the Service Platform</h3>
                        
                        <div ng-show="vm.queryErrors.length > 0 && !vm.loading" class="alert alert-warning" role="alert">
                            There were problems reaching some of the services, and the configuration does not contain all connectivity information:
                            <ul>
                                <li ng-repeat="error in vm.queryErrors">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>1. Install the <a href="https://nuget.org/NServiceBus.ServicePlatform.Connector">NServiceBus.ServicePlatform.Connector</a> nuget package</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>2. Paste the configuration code into you endpoint configuration or load configuration from JSON file. For other options refer to the <a href="TODO">documentaiton</h4>
                        
                        <busy ng-show="vm.loading" message="Loading platform connection settings"></busy>

                        <!-- Nav tabs -->
                        <ul ng-show="!vm.loading" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#inline" aria-controls="inline" role="tab" data-toggle="tab">Code based</a></li>
                            <li role="presentation"><a href="#json" aria-controls="json" role="tab" data-toggle="tab">JSON file</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div ng-show="!vm.loading" class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="inline">
                                <highlight text="vm.inlineSnippet" lang="csharp"></highlight>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="json">
                                <highlight text="vm.jsonSnippet" lang="csharp"></highlight>
                                <highlight text="vm.json" lang="json"></highlight>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>