<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="row">
        <div class="col-sm-12">
            <h1>Configuration</h1>
        </div>
    </div>
</div>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <section name="redirects">

        <configuration-tabs></configuration-tabs>

        <div class="sp-loader" ng-if="isSCConnecting"></div>
        <div ng-include="'js/views/sc_not_available.html'" ng-show="!isSCConnected && !isSCConnecting && !scConnectedAtLeastOnce"></div>

        <section ng-show="isSCConnected || scConnectedAtLeastOnce">

            <busy ng-show="vm.loadingData" message="fetching more redirects"></busy>

            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-default" ng-click="vm.createRedirect()"><i class="fa pa-redirect-source pa-redirect-small"></i> Create Redirect</button>
                        <span></span>
                    </div>
                </div>
            </div>

            <no-data ng-show="vm.redirects.length === 0 && !vm.loadingData" title="redirects" message="There are currently no redirects"></no-data>

            <div class="row">
                <div class="col-sm-12" ng-show="vm.redirects.length > 0">

                    <div class="row box repeat-modify" ng-repeat="redirect in vm.redirects | orderBy:'sourceEndpoint'">
                        <div class="row" id="{{redirect.from_physical_address}}">
                            <div class="col-sm-12">
                                <p class="lead hard-wrap truncate" uib-tooltip="{{redirect.from_physical_address}}">
                                    <i class="fa pa-redirect-source pa-redirect-small" uib-tooltip="Source queue name"></i>
                                    {{redirect.from_physical_address}}
                                </p>
                                <p class="lead hard-wrap truncate" uib-tooltip="{{redirect.to_physical_address}}">
                                    <i class="fa pa-redirect-destination pa-redirect-small" uib-tooltip="Destination queue name"></i>
                                    {{redirect.to_physical_address}}
                                </p>
                                <p class="metadata">
                                    <i class="fa fa-clock-o"></i>
                                    Last modified: <sp-moment date="{{redirect.last_modified}}"></sp-moment>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div isolate-click class="col-sm-12">
                                <p class="small">

                                    <button type="button" class="btn btn-link btn-sm" confirm-title="Are you sure you want to end the redirect?" confirm-click="vm.deleteRedirect(redirect, 'Redirect was deleted', 'Failed to delete redirect')"
                                            confirm-message="Once the redirect is ended, any affected messages will be sent to the original destination queue. Ensure this queue is ready to accept messages again.">
                                        End Redirect
                                    </button>
                                    <button type="button" class="btn btn-link btn-sm" ng-click="vm.editRedirect(redirect)">
                                        Modify Redirect
                                    </button>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>



