<div class="row">
    <div class="col-sm-12">
        <div class="tabs">
            <h5 ng-class="{ active: isActive('/failed-messages/groups') }">
                <a href="#/failedGroups">Failed message groups<span ng-show="counters.message == 0"> (0)</span></a> <span ng-hide="counters.message == 0" class="badge badge-important">
                    <span tooltip="There's varying numbers of failed message groups depending on group type">!</span>
                </span>
            </h5>
            <h5 ng-class="{ active: isActive('/failed-messages/all') }"><a ng-click="viewExceptionGroup()">All failed messages<span ng-show="counters.message == 0"> (0)</span></a> <span ng-show="counters.message > 0" class="badge badge-important">{{counters.message | largeNumber:0}}</span></h5>
            <h5 ng-if="supportsArchiveGroups" ng-class="{ active: isActive('/archivedgroups/groups') }">
                <a href="#/archivedgroups">Deleted message groups<span ng-show="counters.archived == 0"> (0)</span></a> <span ng-hide="counters.archived == 0" class="badge badge-important">
                    <span tooltip="There's varying numbers of deleted message groups depending on group type">!</span>
                </span>
            </h5>
            <h5 ng-class="{ active: isActive('/failed-messages/archived') }"><a href="#/failed-messages/archived">All deleted messages ({{counters.archived | largeNumber:0}})</a></h5>
            <h5 ng-show="{{showPendingRetry}}" ng-class="{ active: isActive('/failed-messages/pending-retries') }"><a href="#/failed-messages/pending-retries">Pending retries ({{counters.pendingRetries | largeNumber:0}})</a></h5>
        </div>
    </div>
</div>
