<div>
    <hr>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">Dashboard</a> <span class="divider">/</span>
        </li>
        <li>
            <a>Endpoint Heartbeats</a> 
        </li>
    </ul>
    <hr>
</div>

<div class="row" ng-controller="heartbeats">
<div class="box span12" ng-repeat="heartbeat in model">
     <div style="margin: 5px;" ng-class="{'alert-success': heartbeat.active, 'alert-danger': heartbeat.active == false}">
         <h4>{{heartbeat.endpoint}}@{{heartbeat.machine}}</h4>
         <p>Last Updated: <moment date="{{heartbeat.last_sent_at}}" /></p>
     </div>
</div>
</div>
