<div class="container">
    <section name="about">
        <div class="row">
            <div class="col-sm-12 padded">
                <h1>Unsupported ServiceControl version</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row box system-status">
                    <div class="col-sm-12">
                         <p class="alert alert-danger" ng-hide="vm.is_compatible_with_sc">You are using ServiceControl version {{vm.sc_version}}. Please upgrade ServiceControl to version {{vm.minimum_supported_sc_version}} or higher to in order to enable ServicePulse to work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>