<div>
    <hr>
    <ul class="breadcrumb">
        <li>
            <a href="#/dashboard">Home</a> 
        </li>
        <li>Endpoints Overview</li>
    </ul>
    <hr>
</div>

<div class="row">
    <div class="box col-sm-6 col-md-6">
        <div class="box-header" data-original-title="">
            <h2><i class="fa fa-info-circle"></i><span class="break"></span>Active Endpoints</h2>
        </div>
        <div class="box-content">
            <div class="well well-sm interactiveList" ng-repeat="endpoint in model.active | orderBy:'name'">
                <h4 class="hard-wrap">{{endpoint.name}}@{{endpoint.host_display_name}}</h4>
                <p>Latest heartbeat received: <sp-moment date="{{endpoint.heartbeat_information.last_report_at}}"></sp-moment></p>
            </div>
            <div class="alert alert-success" ng-show="model.active.length == 0">No active endpoints</div>
        </div>
    </div>
    <div class="box col-sm-6 col-md-6">
        <div class="box-header" data-original-title="">
            <h2><i class="fa fa-info-circle"></i><span class="break"></span>Inactive Endpoints</h2>
        </div>
        <div class="box-content">
            <div class="well well-sm interactiveList" ng-repeat="endpoint in model.inactive | orderBy:'name'">
                <h4 class="hard-wrap">{{endpoint.name}}@{{endpoint.host_display_name}}</h4>
                <p ng-show="endpoint.heartbeat_information">Latest heartbeat received: <sp-moment date="{{endpoint.heartbeat_information.last_report_at}}"></sp-moment></p>
                <p ng-show="!endpoint.heartbeat_information">No plugin installed</p>
            </div>
            <div class="alert alert-success" ng-show="model.inactive.length == 0">No inactive endpoints</div>
        </div>
    </div>
</div>