<footer class="footer">
    <div class="container">
        <div class="row">
                <div class="connectivity-status" ng-show="version !== ''">
                    <span>
                        <i class="fa fa-plus sp-blue"></i>
                        <a href="#/configuration/platformconnection">Connect new endpoint</a>
                    </span>
                    <span ng-show="!newspversion">
                        ServicePulse v{{Version}}
                    </span>
                    <span ng-show="newspversion">
                        ServicePulse v{{Version}} (<i ng-show="newspversion" class="fa fa-level-up fake-link"></i> <a href="{{newspversionlink}}" target="_blank">v{{newspversionnumber}} available</a>)
                    </span>
                    <span uib-tooltip="ServiceControl URL {{serviceControlUrl}}">
                        Service Control:
                        <span class="connected-status" ng-if="isSCConnected && !isSCConnecting">
                            <div class="fa pa-connection-success"></div> <span ng-show="!SCVersion">Connected</span> <span ng-show="SCVersion" class="versionnumber">v{{SCVersion}}</span> <span ng-show="newscversion" class="newscversion">(<i class="fa fa-level-up fake-link"></i> <a href="{{newscversionlink}}" target="_blank">v{{newscversionnumber}} available</a>)</span>
                        </span>
                        <span ng-if="!isSCConnected && !isSCConnecting" class="connection-failed">
                            <i class="fa pa-connection-failed"></i> Not connected
                        </span>
                        <span ng-if="isSCConnecting" class="connection-establishing">
                            <i class="fa pa-connection-establishing"></i> Connecting
                        </span>
                    </span>
                    <monitoring-connectivity-status ng-if="isMonitoringEnabled"></monitoring-connectivity-status>
                </div>
        </div>
    </div>
</footer>
