<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="connectivity-status col-xs-offset-5">
                <div uib-tooltip="ServiceControl URL {{serviceControlUrl}}">
                    Service Control:
                    <span class="connected-status" ng-if="isSCConnected && !isSCConnecting">
                        <div class="fa pa-connection-success"></div> Connected <span ng-show="newscversion"><i class="fa fa-level-up fake-link"></i> <a href="{{newscversionlink}}" target="_blank">v{{newscversionnumber}} available</a></span>
                    </span>
                    <span ng-if="!isSCConnected && !isSCConnecting" class="connection-failed">
                        <i class="fa pa-connection-failed"></i> Not connected
                    </span>
                    <span ng-if="isSCConnecting" class="connection-establishing">
                        <i class="fa pa-connection-establishing"></i> Connecting
                    </span>
                </div>
                <monitoring-connectivity-status ng-if="isMonitoringEnabled"></monitoring-connectivity-status>
            </div>
        </div>
    </div>
</footer>
