<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span ng-show="showAlertBadgeOnCollapsedMenu()" class="badge badge-important " 
                      style="top: 0;
                        right: 0;
                        position: absolute;">!</span>
            </button>
            <a class="navbar-brand" href="#/">
                <img alt="Service Pulse" src="img/logo.svg">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right navbar-inverse">
            <ul class="nav navbar-nav navbar-inverse" ng-show="is_compatible_with_sc">
                <li ng-class="{ active: isActive('/dashboard') }">
                    <a href="#/dashboard">
                        <i class="fa fa-dashboard icon-white"></i>
                        <span class="navbar-label">Dashboard</span>
                    </a>
                </li>
                <li ng-class="{ active: isActive('/endpoints') }">
                    <a href="#/endpoints">
                        <i class="fa fa-heart icon-white"></i>
                        <span class="navbar-label">Heartbeats</span>
                        <span ng-show="failedheartbeats > 0" class="badge badge-important ">{{failedheartbeats | largeNumber:0}}</span>
                    </a>
                </li>


                <li ng-if="isMonitoringEnabled" ng-class="{ active: isActive('/monitored_endpoints') || isActive('/endpoint_details') }">
                    <a href="#/monitored_endpoints">
                        <i class="fa fa-heartbeat icon-white"></i>
                        <span class="navbar-label">Monitoring</span>
                    </a>
                </li>
                <li ng-class="{ active: isActive('/failed-messages/groups') || isActive('/failed-messages/all') || isActive('/failed-messages/archived') || isActive('/failed-messages/pending-retries') }">
                    <a href="#/failed-messages/groups">
                        <i class="fa fa-envelope icon-white"></i>
                        <span class="navbar-label">Failed Messages</span>
                        <span ng-show="failedmessages > 0" class="badge badge-important ">{{failedmessages | largeNumber:0}}</span>
                    </a>
                </li>
                <li ng-class="{ active: isActive('/custom-checks') }">
                    <a href="#/custom-checks">
                        <i class="fa fa-check icon-white"></i>
                        <span class="navbar-label">Custom Checks</span>
                        <span ng-show="failedcustomchecks > 0" class="badge badge-important ">{{failedcustomchecks | largeNumber:0}}</span>
                    </a>
                </li>
                <li ng-class="{ active: isActive('/configuration/endpoints') || isActive('/configuration/redirects') }">
                    <a href="#/configuration">
                        <i class="fa fa-cog icon-white"></i>
                        <span class="navbar-label">Configuration</span>
                    </a>
                </li>
                <li>
                    <a class="btn-feedback" href="https://github.com/Particular/ServicePulse/issues/new" target="_blank">
                        <i class="fa fa-comment"></i>
                        <span class="navbar-label">Feedback</span>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
