<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/">
                <img alt="Service Pulse" src="img/logo.png" style="margin-top: -13px;">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

            <ul class="nav navbar-nav  navbar-right">
                <li ng-class="{ active: isActive('/dashboard') }">
                    <a href="/#/dashboard">
                        <i class="fa fa-dashboard icon-white"></i>
                        <span class="hidden-sm">
                            <span class="hidden-md">  Dashboard</span>
                        </span>
                    </a>
                </li>
                <li ng-class="{ active: isActive('/endpoints') }">
                    <a href="/#/endpoints">
                        <i class="fa fa-heart icon-white"></i>
                        <span class="hidden-sm">
                            <span class="hidden-md">  Endpoints Overview</span> <span ng-show="failedheartbeats > 0" class="badge badge-important ">{{failedheartbeats}}</span>
                        </span>
                    </a>
                </li>
                <li ng-class="{ active: isActive('/failedGroups') || isActive('/failedMessages') }">
                    <a href="/#/failedGroups">
                        <i class="fa fa-envelope icon-white"></i>
                        <span class="hidden-sm">
                            <span class="hidden-md">  Failed Messages</span> <span ng-show="failedmessages > 0" class="badge badge-important ">{{failedmessages}}</span>
                        </span>
                    </a>
                </li>
                <li ng-class="{ active: isActive('/customChecks') }">
                    <a href="/#/customChecks">
                        <i class="fa fa-check icon-white"></i>
                        <span class="hidden-sm">
                            <span class="hidden-md"> Custom Check</span> <span ng-show="failedcustomchecks > 0" class="badge badge-important ">{{failedcustomchecks}}</span>
                        </span>
                    </a>
                </li>
                <li ng-class="{ active: isActive('/configuration') }">
                    <a href="/#/configuration">
                        <i class="fa fa-cog icon-white"></i>
                        <span class="hidden-sm">
                            <span class="hidden-md"> Configuration</span>
                        </span>
                    </a>
                </li>
            </ul>
       
            <product-version version="{{Version}}" scversion="{{SCVersion}}"></product-version>
      
        </div><!--/.nav-collapse -->
    </div>
</nav>