<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h5>latest events</h5>
            <div class="row box">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-1">
                            <img class="img-responsive img-circle center-block" src="http://lorempixel.com/80/80/cats/">
                        </div>
                        <div class="col-sm-9">
                            <div class="row box-header">
                                <div class="col-md-12">
                                    <p class="lead">capicola sausage leberkas </p>
                                    <p>Porchetta tongue ham hock biltong sirloin venison capicola sausage leberkas drumstick </p>

                                    <p>Bacon ipsum dolor amet shankle sausage pig, chicken ham hock biltong picanha turkey leberkas ground round bacon brisket boudin. Cupim alcatra spare ribs, brisket beef ribs tail kielbasa ham pork loin. Ham hock frankfurter beef ribs, spare ribs ball tip chicken sausage hamburger jowl pancetta picanha cow pig t-bone meatball. Picanha tri-tip landjaeger short ribs, t-bone ham hock flank. Kevin corned beef frankfurter hamburger, sausage bacon tail. Alcatra porchetta leberkas shoulder, short ribs meatloaf swine rump pork belly capicola. Biltong pork ground round tail, ham jowl salami porchetta jerky filet mignon tongue.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span>date</span>
                            <span>actions</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>