<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    
    <div class="row">
        <form class="col-sm-12" name="redirectForm" novalidate>
            <div class="form-group">
                <label for="sourceQueue">From physical address</label>
                <i class="fa fa-info-circle" uib-tooltip="Choose a queue that is know to Service Control"></i>
            </div>
            <div class="form-group"  ng-class="{ 'has-error': redirectForm.sourceQueue.$invalid && (redirectForm.sourceQueue.$dirty || submitted), 'has-success': redirectForm.sourceQueue.$valid }">
                <input type="text" id="sourceQueue" name="sourceQueue" ng-model="from_physical_address" ng-disabled="message_redirect_id != undefined" placeholder="Source Queue Name" 
                       uib-typeahead="endpoint for endpoint in getAvailableEndpoints($viewValue)" typeahead-editable="false" typeahead-min-length="3" autocomplete="off"
                       typeahead-loading="loadingSourceQueues" typeahead-no-results="noSourceQueues" class="form-control" required>
                <i ng-show="loadingSourceQueues" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noSourceQueues" ng-class="{ 'has-error': redirectForm.sourceQueue.$invalid }">
                    <p class="control-label">
                        No matching queues found. You can only use a source queue that is known to Service Control.
                    </p>
                </div>
            </div>
            <div class="row"></div>
            <div class="form-group">
                <label for="targetQueue">To physical address</label>
                <i class="fa fa-info-circle" uib-tooltip="Choose a queue that is know to Service Control or provide a custom queue"></i>
            </div>
            <div class="form-group" ng-class="{ 'has-error': redirectForm.targetQueue.$invalid && (redirectForm.targetQueue.$dirty || submitted), 'has-success': redirectForm.targetQueue.$valid }">
                <input type="text" id="targetQueue" name="targetQueue" ng-model="to_physical_address" placeholder="Target Queue Name" uib-typeahead="endpoint for endpoint in getAvailableEndpoints($viewValue)"
                       typeahead-loading="loadingTargetQueues" typeahead-no-results="noTargetQueues" class="form-control" autocomplete="off" required>
                <i ng-show="loadingTargetQueues" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noTargetQueues" ng-class="{ 'has-error': noTargetQueues }">
                    <p class="control-label">
                        No matching queues found. You can provide custom name, but if you didn't provide valid address the redirected message will be lost.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" ng-model="immediatelyRetry" id="immediatelyRetry"/><label for="immediatelyRetry">Immediately retry any matching failed messages</label>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="createRedirect()">{{saveButtonText}}</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

        </form>
    </div>
</div>