<span class="version-info">
    <i class="fa fa-arrows" uib-tooltip="Redirect"></i>
    No redirect 
    <button ng-hide="redirect" type="button" class="btn btn-link" ng-click="createRedirect()">
        create
    </button>
    <span ng-show="redirect">
        <i class="fa fa-arrows" uib-tooltip="Redirect"></i>
        Redirect: {{redirect.to_physical_address}}
        <button type="button" class="btn btn-link" ng-click="editRedirect(redirect)">
            modify
        </button>
    </span>
</span>
