<div class="msg-group-menu dropdown">
    <label class="control-label">Period:</label>
    <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{periods.selected.text}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="period in periods.items">
            <a ng-click="periods.select(period)" href>{{period.text}}</a>
        </li>
    </ul>
</div>