<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="sp-loader" ng-if="isSCConnecting"></div>
    <div ng-include="'js/views/sc_not_available.html'" ng-show="!isSCConnected && !isSCConnecting && !scConnectedAtLeastOnce"></div>

    <section ng-show="isSCConnected || scConnectedAtLeastOnce">
        <reindexingstatus></reindexingstatus>

        <div class="row">
            <div class="col-sm-12">
                <h1>Dashboard</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h6>System status</h6>
                <div class="row box system-status">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <a class="summary-item" ng-class="{  'summary-danger' : failedheartbeats > 0 , 'summary-info' : failedheartbeats === 0 || !failedheartbeats  }" href="#/endpoints">
                                    <i class="fa fa-heartbeat fa-3x"></i>
                                    <span ng-show="failedheartbeats > 0" class="badge badge-important">{{failedheartbeats | largeNumber:0}}</span>
                                    <h4>
                                        Heartbeats
                                    </h4>
                                </a>

                            </div>
                            <div class="col-xs-4">
                                <a class="summary-item" ng-class="{  'summary-danger'  : failedmessages > 0 , 'summary-info' : failedmessages === 0 || !failedmessages }" href="#/failed-messages/groups">
                                    <i class="fa fa-envelope fa-3x "></i>
                                    <span ng-show="failedmessages > 0" class="badge badge-important">{{failedmessages | largeNumber:0}}</span>
                                    <h4>
                                        Failed Messages
                                    </h4>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a class="summary-item" ng-class="{  'summary-danger'  : failedcustomchecks > 0, 'summary-info' : failedcustomchecks === 0 || !failedcustomchecks }" href="#/custom-checks">
                                    <i class="fa fa-check  fa-3x "></i>
                                    <span ng-show="failedcustomchecks > 0" class="badge badge-important">{{failedcustomchecks | largeNumber:0}}</span>
                                    <h4>
                                        Custom Checks
                                    </h4>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <div class="row" ng-include="'js/views/event_log_items/eventLogItems.tpl.html'"></div>
    </section>
</div>