<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="sp-loader" ng-if="isSCConnecting"></div>
    <div ng-include="'js/views/sc_not_available.html'" ng-show="!isSCConnected && !isSCConnecting && !scConnectedAtLeastOnce"></div>
    <reindexingstatus></reindexingstatus>

    <section name="failed_messages" ng-show="isSCConnected || scConnectedAtLeastOnce">

        <div>
            <failed-message-tabs></failed-message-tabs>
        </div>


        <div class="row" ng-show="vm.selectedArchiveGroup.id && vm.archives.length > 0">
            <div class="col-sm-12">
                <div ng-show="!vm.selectedArchiveGroup.id" class="active">All deleted messages ({{vm.archives.length}} / {{vm.selectedExceptionGroup.count}} | number)</div>
                <h1 ng-show="vm.selectedArchiveGroup.id" class="active break group-title">
                    {{vm.selectedArchiveGroup.title}}
                </h1>
                <h3 class="active group-title group-message-count">{{vm.total | number}} messages in group</h3>
            </div>
        </div>

        <div class="row" ng-show="!vm.loadingData">
            <div class="col-sm-12">
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-default select-all" ng-click="vm.selectAllMessages()"><span ng-show="vm.selectedIds.length == 0">Select all</span><span ng-hide="vm.selectedIds.length == 0">Clear selection</span></button>
                    <button type="button" class="btn btn-default" confirm-title="Are you sure you want to restore the selected messages?" confirm-message="Restored messages will be moved back to the list of failed messages." confirm-click="vm.unarchiveSelected()" ng-disabled="vm.selectedIds.length == 0"><i class="fa fa-undo"></i> Restore {{vm.selectedIds.length | number}} selected</button>

                    <div class="msg-group-menu dropdown msg-list-dropdown">
                        <label class="control-label">Show:</label>
                        <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{vm.timeGroup.buttonText}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup()"><span class="fa fa-calendar" aria-hidden="true"></span> All deleted</a>
                            </li>
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup('2', 'hours')"><span class="fa fa-calendar" aria-hidden="true"></span> Deleted in the last 2 hours</a>
                            </li>
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup('1', 'days')"><span class="fa fa-calendar" aria-hidden="true"></span> Deleted in the last day</a>
                            </li>
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup('7', 'days')"><span class="fa fa-calendar " aria-hidden="true"></span> Deleted in the last 7 days</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <busy ng-show="vm.loadingData" message="fetching more messages"></busy>

        <no-data ng-show="vm.archives.length === 0 && !vm.loadingData" title="message failures" message="There are currently no deleted messages"></no-data>

        <div class="row" ng-show="vm.archives.length > 0" class="clearfix">

            <div class="col-sm-12 no-mobile-side-padding" ng-repeat="message in vm.archives">

                <div class="row box failed-message">

                    <multi-checkboxlist messages="vm.archives" selected-ids="vm.selectedIds" message="message" multiselection="vm.multiselection"></multi-checkboxlist>

                    <div class="col-xs-11 failed-message-data" ng-mouseenter="message.hover2 = true" ng-mouseleave="message.hover2 = false">
                        <a href="#/failed-messages/message/{{message.id}}">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="lead break" ng-class="{'msg-type-hover': message.hover2}">{{message.message_type || 'Message Type Unknown - missing metadata EnclosedMessageTypes'}} </p>

                                    <p class="metadata">
                                        <span ng-if="message.retried" tooltip="Message is being retried" class="label sidebar-label label-info">Retried</span>
                                        <span ng-if="message.archived" tooltip="Message is being deleted" class="label sidebar-label label-warning">Deleted</span>
                                        <span ng-if="message.number_of_processing_attempts > 1" tooltip="This message has already failed {{message.number_of_processing_attempts}} times" class="label sidebar-label label-important">{{message.number_of_processing_attempts}} Retry Failures</span>

                                        <span class="metadata"><i class="fa fa-clock-o"></i> Failed: <sp-moment date="{{message.time_of_failure}}"></sp-moment></span>
                                        <span class="metadata"><i class="fa pa-endpoint"></i> Endpoint: {{message.receiving_endpoint.name}}</span>
                                        <span class="metadata"><i class="fa fa-laptop"></i> Machine: {{message.receiving_endpoint.host}}</span>
                                        <span class="metadata"><i class="fa fa-clock-o"></i> Deleted: <sp-moment date="{{message.last_modified}}"></sp-moment></span>
                                        <span class="metadata danger" ng-show="message.delete_soon"><i class="fa fa-trash-o danger"></i> Scheduled for deletion: immediately</span>
                                        <span class="metadata danger" ng-show="!message.delete_soon"><i class="fa fa-trash-o danger"></i> Scheduled for deletion: <sp-moment class="danger" date="{{message.deleted_in}}"></sp-moment></span>
                                    </p>

                                    <pre class="stacktrace-preview" ng-show="message.panel === 0">{{ message.exception.message }}</pre>

                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <ul uib-pagination ng-hide="vm.pager.total <= vm.pager.perPage" items-per-page="vm.pager.perPage" total-items="vm.pager.total" ng-model="vm.pager.page" max-size="10" boundary-link-numbers="true" ng-change="vm.loadMoreResults()"></ul>
            </div>
        </div>
    </section>
</div>
