<div class="container">
    <section name="eventlog" ng-controller="EventLogItemsCtrl">
        <div class="row">
            <div class="col-md-12">
                <h5>recent events</h5>

                <div class="row box" ng-class="{'box-info': eventLogItem.severity == 'info', 'box-danger':  eventLogItem.severity == 'error'}" ng-repeat="eventLogItem in model | orderBy: '-raised_at' | limitTo: 10">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <span ng-show="eventLogItem.category === 'HeartbeatMonitoring'" title="{{eventLogItem.category}}" class="subdued glyphicon glyphicon-heart fa-2x" aria-hidden="true"></span>
                                <span ng-show="eventLogItem.category === 'CustomChecks'" title="{{eventLogItem.category}}" class="subdued glyphicon glyphicon-ok fa-2x" aria-hidden="true"></span>
                                <span ng-show="eventLogItem.category === 'EndpointControl'" title="{{eventLogItem.category}}" class="subdued glyphicon glyphicon-heart fa-2x" aria-hidden="true"></span>
                                <span ng-show="eventLogItem.category === 'MessageFailures'" title="{{eventLogItem.category}}" class="subdued glyphicon glyphicon-envelope fa-2x" aria-hidden="true"></span>
                                <span ng-show="eventLogItem.category === 'Recoverability'" title="{{eventLogItem.category}}" class="subdued glyphicon glyphicon-magnet fa-2x" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-9">
                                <div class="row box-header">
                                    <div class="col-md-12">
                                        <p class="lead">{{eventLogItem.description}} </p>
                                        <p>
                                            <a ng-show="eventLogItem.category === 'HeartbeatMonitoring'" title="{{eventLogItem.category}}" href="/#/endpoints">GO TO ENDPOINT MANAGEMENT</a>
                                            <a ng-show="eventLogItem.category === 'CustomChecks'" title="{{eventLogItem.category}}" href="/#/customChecks">GO TO CUSTOM CHECK MANAGEMENT</a>
                                            <a ng-show="eventLogItem.category === 'EndpointControl'" title="{{eventLogItem.category}}" href="/#/endpoints">GO TO ENDPOINT MANAGEMENT</a>
                                            <a ng-show="eventLogItem.category === 'MessageFailures'" title="{{eventLogItem.category}}" href="/#/failedGroups">GO TO RECOVERABILTY MANAGEMENT</a>
                                            <a ng-show="eventLogItem.category === 'Recoverability'" title="{{eventLogItem.category}}" href="/#/failedGroups">GO TO RECOVERABILTY MANAGEMENT</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <sp-moment date="{{eventLogItem.raised_at}}"></sp-moment>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row box box-info" ng-show="!loadingData && model.length == 0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-1">
                        <span class="subdued glyphicon glyphicon-info-sign fa-2x" aria-hidden="true"></span>
                    </div>
                    <div class="col-sm-11">
                        <div class="row box-header">
                            <div class="col-md-12">
                                <p class="lead hard-wrap">No events</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="loading" ng-show="loadingData"></div>

    </section>
</div>

