<div class="container">
    <section name="eventlog" ng-controller="EventLogItemsCtrl">
        <div class="row">
            <div class="col-md-12">
                <h5>recent events</h5>

                <div class="row box" ng-repeat="eventLogItem in model | orderBy: '-raised_at' | limitTo: 10">
                    <div class="col-md-12" ng-click="viewCategory(eventLogItem)">
                        <div class="row">
                            <div class="col-sm-1">
                                <i ng-show="eventLogItem.category === 'Endpoints'" title="{{eventLogItem.category}}" class="fa fa-heart fa-2x"></i>
                                <i ng-show="eventLogItem.category === 'HeartbeatMonitoring'" title="{{eventLogItem.category}}" class="fa fa-heart fa-2x"></i>
                                <i ng-show="eventLogItem.category === 'CustomChecks'" title="{{eventLogItem.category}}" class="fa fa-check fa-2x"></i>
                                <i ng-show="eventLogItem.category === 'EndpointControl'" title="{{eventLogItem.category}}" class="fa fa-heart  fa-2x"></i>
                                <i ng-show="eventLogItem.category === 'MessageFailures'" title="{{eventLogItem.category}}" class="fa fa-envelope fa-2x"></i>
                                <i ng-show="eventLogItem.category === 'Recoverability'" title="{{eventLogItem.category}}" class="fa fa-envelope fa-2x"></i>
                            </div>
                            <div class="col-sm-9">
                                <div class="row box-header">
                                    <div class="col-md-12">
                                        <p class="lead">
                                            {{eventLogItem.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <sp-moment date="{{eventLogItem.raised_at}}"></sp-moment>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row box box-info" ng-show="!loadingData && model.length == 0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-1">
                        <span class="subdued glyphicon glyphicon-info-sign fa-2x" aria-hidden="true"></span>
                    </div>
                    <div class="col-sm-11">
                        <div class="row box-header">
                            <div class="col-md-12">
                                <p class="lead hard-wrap">No events</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="loading" ng-show="loadingData"></div>

    </section>
</div>

