<div class="container">
    <div class="row">
        <div class="col-sm-10 no-side-padding list-section">
            <h6>{{endpointName}}</h6>
        </div>
        <div class="col-sm-2 no-side-padding toolbar-menus">
            <div class="msg-group-menu dropdown">
                <label class="control-label">Period:</label>
                <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedPeriod.text}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="period in periods">
                        <a ng-click="selectPeriod(period)" href="#/endpoint_details/{{endpointName}}/{{sourceIndex}}?historyPeriod={{period.value}}">{{period.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <busy ng-show="loading" message="Loading details"></busy>

    <div ng-show="!loading" class="row box box-no-click">
        <div class="col-sm-4 no-side-padding">
            <div class="row box-header">
                <div class="col-sm-12 no-side-padding">
                    <p class="lead">Instance Name</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 no-side-padding">
            <div class="row box-header">
                <div class="col-sm-12 no-side-padding">
                    <p class="lead">Retries (msgs)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 no-side-padding">
            <div class="row box-header">
                <div class="col-sm-12 no-side-padding">
                    <p class="lead">Processing Time (ms) </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 no-side-padding">
            <div class="row box-header">
                <div class="col-sm-12 no-side-padding">
                    <p class="lead">Critical Time (ms) </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 no-side-padding">
            <div class="row box box-no-click" ng-repeat="instance in endpointInstances">
                <div class="col-sm-12 no-side-padding">
                    <div class="row">
                        <div class="col-sm-4 no-side-padding">
                            <div class="row box-header">
                                <div class="col-sm-12 no-side-padding">
                                    <div class="hard-wrap">
                                        {{instance.id}}
                                        <a ng-if="instance.errorCount" class="warning btn" href="#/failed-messages/groups/{{endpointName}}/{{sourceIndex}}/{{instance.serviceControlId}}">
                                            <i class="fa fa-envelope"></i>
                                            <span class="badge badge-important ng-binding">{{instance.errorCount | largeNumber:1}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 no-side-padding">
                            <div class="row box-header">
                                <div class="col-sm-12 no-side-padding">
                                    <graph ng-if="instance.retries.points" plot-points="instance.retries.points" plot-average="instance.retries.average" color="#4286f4"></graph>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 no-side-padding">
                            <div class="row box-header">
                                <div class="col-sm-12 no-side-padding">
                                    <graph ng-if="instance.processingTime.points" plot-points="instance.processingTime.points" plot-x-axis="instance.processingTime.pointsAxisValues" plot-average="instance.processingTime.average" color="#40bc42"></graph>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 no-side-padding">
                            <div class="row box-header">
                                <div class="col-sm-12 no-side-padding">
                                    <graph ng-if="instance.criticalTime.points" plot-points="instance.criticalTime.points" x-axis="instance.criticalTime.pointsAxisValues" plot-average="instance.criticalTime.average" color="#d64f21"></graph>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>