<div class="container">
    <reindexingstatus></reindexingstatus>

    <section name="failed_messages">

        <failed-message-tabs></failed-message-tabs>

        <div class="row" ng-show="!vm.loadingData">
            <div class="col-sm-12">
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-default" confirm-title="Are you sure you want to un-archive selected archived messages?" confirm-message="Unarchived messages will be moved back to the list of failed messages." confirm-click="vm.unarchiveSelected()" ng-disabled="vm.selectedIds.length == 0"><i class="fa fa-undo"></i> Unarchive {{vm.selectedIds.length | number}} selected</button>

                    <div class="msg-group-menu dropdown msg-list-dropdown">
                        <label class="control-label">Show:</label>
                        <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{vm.timeGroup.buttonText}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup()"><span class="fa fa-calendar" aria-hidden="true"></span> All Archived</a>
                            </li>
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup('2', 'hours')"><span class="fa fa-calendar" aria-hidden="true"></span> Archived in the last 2 Hours</a>
                            </li>
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup('1', 'days')"><span class="fa fa-calendar" aria-hidden="true"></span> Archived in the last 1 Day</a>
                            </li>
                            <li>
                                <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup('7', 'days')"><span class="fa fa-calendar " aria-hidden="true"></span> Archived in the last 7 Days</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <busy ng-show="vm.loadingData" message="fetching more messages"></busy>

        <no-data ng-show="vm.archives.length === 0 && !vm.loadingData" title="message failures" message="There are currently no archived messages"></no-data>

        <div class="row" ng-show="vm.archives.length > 0" infinite-scroll="vm.loadMoreResults(vm.selectedExceptionGroup)" infinite-scroll-distance="0" infinite-scroll-disabled="vm.disableLoadingData">

            <div class="col-sm-12 no-mobile-side-padding" ng-repeat="message in vm.archives">

                <div class="row box failed-message">

                    <multi-checkboxlist messages="vm.archives" selected-ids="vm.selectedIds" message="message" multiselection="vm.multiselection"></multi-checkboxlist>

                    <div class="col-xs-11 failed-message-data" ng-mouseenter="message.hover2 = true" ng-mouseleave="message.hover2 = false">
                        <a href="#/failed-messages/message/{{message.id}}">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="lead break" ng-class="{'msg-type-hover': message.hover2}">{{message.message_type || 'Message Type Unknown - missing metadata EnclosedMessageTypes'}} </p>

                                    <p class="metadata">
                                        <span ng-if="message.retried" tooltip="Message is being retried" class="label sidebar-label label-info">Retried</span>
                                        <span ng-if="message.archived" tooltip="Message is being archived" class="label sidebar-label label-warning">Archived</span>
                                        <span ng-if="message.number_of_processing_attempts > 1" tooltip="This message has already failed {{message.number_of_processing_attempts}} times" class="label sidebar-label label-important">{{message.number_of_processing_attempts}} Retry Failures</span>

                                        <span class="metadata"><i class="fa fa-clock-o"></i> Failed: <sp-moment date="{{message.time_of_failure}}"></sp-moment></span>
                                        <span class="metadata"><i class="fa pa-endpoint"></i> Endpoint: {{message.receiving_endpoint.name}}</span>
                                        <span class="metadata"><i class="fa fa-laptop"></i> Machine: {{message.receiving_endpoint.host}}</span>
                                        <span class="metadata"><i class="fa fa-clock-o"></i> Archived: <sp-moment date="{{message.last_modified}}"></sp-moment></span>
                                        <span class="metadata danger" ng-show="message.delete_soon"><i class="fa fa-trash-o danger"></i> Scheduled for deletion: immediately</span>
                                        <span class="metadata danger" ng-show="!message.delete_soon"><i class="fa fa-trash-o danger"></i> Scheduled for deletion: <sp-moment class="danger" date="{{message.deleted_in}}"></sp-moment></span>
                                    </p>

                                    <pre class="stacktrace-preview" ng-show="message.panel === 0">{{ message.exception.message }}</pre>

                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </section>

</div>