<div>
    <hr>
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li>Custom Checks</li>
    </ul>
    <hr>
</div>
<div class="row">
    <div class="box col-sm-12 col-md-12">
        <div class="box-header" data-original-title="">
            <h2><i class="fa fa-check"></i><span class="break"></span>Showing {{model.total}} failed custom check(s)</h2>
        </div>
        <div class="box-content">
            <div infinite-scroll="loadMoreResults()" infinite-scroll-distance="0" infinite-scroll-disabled="disableLoadingData">
                <div class="scRow" ng-repeat="item in model.data | orderBy: '-reported_at'">
                    <div class="row">
                        <div class="col-sm-4 col-md-4" title="Id: {{item.custom_check_id}}"><strong>{{item.custom_check_id}}</strong></div>
                        <div class="col-sm-4 col-md-4" title="Category: {{item.category}}">{{item.category}}</div>
                        <div class="text-right col-sm-4 col-md-4"><sp-moment date="{{item.reported_at}}"></sp-moment></div>
                    </div>
                    <div class="row">
                        <div class="text-info col-sm-9 col-md-9"><pre>{{item.failure_reason}}</pre></div>
                        <div class="text-right col-sm-3 col-md-3" title="In: {{item.originating_endpoint.name}} on {{item.originating_endpoint.host}}">in {{item.originating_endpoint.name}} on {{item.originating_endpoint.host}}</div>
                    </div>
                    <div class="row">
                        <div class="text-right col-sm-12 col-md-12"><a tooltip="Mute this custom check so it doesn't show up as an alert" class="btn btn-link btn-default btn-sm" ng-click="mute(item)"><i class="icon-volume-off"></i> Mute</a></div>
                    </div>
                </div>
                <div class="alert alert-success" ng-show="!loadingData && model.total == 0">No failed custom checks</div>
                <div class="loading" ng-show="loadingData"></div>
            </div>
        </div>
    </div>
</div>