@import url("font-awesome/css/font-awesome.min.css");

/* app css stylesheet */

/* navbar */

a {
    color: #00a3c4;
    font-weight: bold;
}

a:hover {
    color: #00a3c4;
    font-weight: bold;
}

.navbar { height: 60px; }

.navbar > .navbar-right { margin-right: -15px; }

.navbar-brand {
    height: 60px;
    padding-bottom: 9px;
    padding-top: 9px;
}

.navbar-nav > li > a > span { margin-left: 4px; }

.navbar-toggle { margin-top: 13px; }

.navbar a { font-weight: normal; }

.navbar a:hover { font-weight: normal; }

.label-important,
.badge-important {
    background-color: #FA603D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11, 95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
    background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -o-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    border-color: #FA5833;
}



@media (min-width: 768px) {
    .navbar-nav > li.active > a {
        background: transparent !important;
        border-bottom: 4px solid #00A3C4;
    }

    .navbar-label { display: none; }

    .navbar-nav > li > a {
        padding-bottom: 16px;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1072px) {
    .navbar-label { display: inline; }
}

/* end navbar */

body {
    background-color: #e9eaed;
    color: #181919;
    overflow-y: scroll;
    padding-top: 100px;
}

pre { white-space: pre-wrap; }

footer {
    color: #bcc6c2;
    font-size: 14px;
    font-weight: normal;
    height: 60px;
    margin-top: 50px;
    padding: 5px 0;
    text-align: left;
    text-align: center;
    width: 100%;
}

footer span {
    color: #777f7f;
    display: inline-block !important;
    padding: 0 8px
}

footer a { font-weight: normal; }

footer a:hover { font-weight: normal; }

.breadcrumb-fixed {
    /*right: 0;
    left: 0;*/
    background: none;
    border-radius: 0px;
    position: fixed;
    top: 77px;
    z-index: 1;
}

.box, .box-no-hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: box-shadow 0.25s ease 0s;
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -ms-transition: box-shadow 0.25s ease 0s;
    -o-transition: box-shadow 0.25s ease 0s;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 0.25s ease 0s;
    background-color: #fff;
    border-color: #eee;
    /*border-left-color: #666666;*/
    border-radius: 2px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0 2px 5px 0 #000000, 0 2px 10px 0 #000000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0.5rem 0 1rem;
    margin-bottom: 5px;
    padding: 20px;
    transition: box-shadow 0.25s ease 0s;
}

.fa { color: #929e9e; }

.sidebar-label {
    box-shadow: none;
    color: #ffffff;
    display: block;
    font-size: 12px;
    margin-top: 3px;
    max-width: 100%;
    padding: 6px 10px;
}

.sidebar-label > .fa { color: #ffffff; }

.white { color: #ffffff; }

.subdued { color: #666666; }

.info { color: #1b809e; }

.warning { color: red; }

.warning i { color: #aa6708; }

.danger { color: #ce4844; }

.box-info { border-left-color: #1b809e; }

.box-warning { border-left-color: #aa6708; }

.box-danger { border-left-color: #ce4844; }

.box-header {
    padding-bottom: 3px;
    padding-top: 2px;
}

.box-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.box-body { }

/* fixed bus with repeat list transition lag */

.ng-animate { transition: none; }

.label-important,
.badge-important {
    background-color: #FA603D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11, 95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
    background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -o-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    border-color: #FA5833;
}

.label-info,
.badge-info {
    background-color: #1b809e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(194, 95%, 76%)), color-stop(100%, hsl(194, 95%, 61%)));
    background-image: -webkit-linear-gradient(top, hsl(194, 95%, 76%), hsl(194, 95%, 61%));
    background-image: -moz-linear-gradient(top, hsl(194, 95%, 76%), hsl(194, 95%, 61%));
    background-image: -ms-linear-gradient(top, hsl(194, 95%, 76%), hsl(194, 95%, 61%));
    background-image: -o-linear-gradient(top, hsl(194, 95%, 76%), hsl(194, 95%, 61%));
    background-image: linear-gradient(top, hsl(194, 95%, 76%), hsl(194, 95%, 61%));
    border-color: #1b809e;
}

.label-warning,
.badge-warning {
    background-color: #aa6708;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(35, 95%, 76%)), color-stop(100%, hsl(35, 95%, 61%)));
    background-image: -webkit-linear-gradient(top, hsl(35, 95%, 76%), hsl(35, 95%, 61%));
    background-image: -moz-linear-gradient(top, hsl(35, 95%, 76%), hsl(35, 95%, 61%));
    background-image: -ms-linear-gradient(top, hsl(35, 95%, 76%), hsl(35, 95%, 61%));
    background-image: -o-linear-gradient(top, hsl(35, 95%, 76%), hsl(35, 95%, 61%));
    background-image: linear-gradient(top, hsl(35, 95%, 76%), hsl(35, 95%, 61%));
    border-color: #aa6708;
}

.loading {
    background-image: url('../img/loader_spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 65px;
}

.pa-endpoint {
    position: relative;
    top: 3px;
    background-image: url('../img/endpoint.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}

.pa-redirect-source {
    background-image: url('../img/redirect-source.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.pa-redirect-small {
    position: relative;
    top: 1px;
    height: 14px;
    width: 14px;
}

.pa-redirect-large {
    height: 24px;
}

.pa-redirect-destination {
    background-image: url('../img/redirect-destination.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.wf-working {
    opacity: .5;
    position: relative;
}

.wf-working::after {
    content: ' ';
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.wf-success {
    opacity: .5;
    position: relative;
}

.wf-success::after {
    content: ' ';
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.truncate {
    -moz-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Global overrides*/

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body { background-color: #f2f6f7 !important; }

.box {
    box-shadow: none;
    margin: 0;
    padding-bottom: 10px;
}

.box p {
    color: #777f7f;
    font-size: 14px;
}

section.events > div > div > div > div { padding-bottom: 8px !important; }

.box-no-click {
    background: none;
    border-bottom: 1px solid #ced6d3;
    border-left: none;
    border-right: none;
    cursor: default;
}

.box-no-click:first-child { border-top: 1px solid #ced6d3; }

.section-header {
    align-items: center;
    border-bottom: 1px solid transparent;
    color: #777f7f;
    display: flex;
    line-height: 24px;
    margin: 20px 0 8px;
    padding: 0 24px;
}

.section-header-heading {
    -ms-flex: 1 1 0;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    margin-right: 48px;
}

.lead {
    -ms-word-wrap: break-word;
    color: #181919 !important;
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 3px;
    word-wrap: break-word;
}

.break {
    -ms-word-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
}

sp-moment {
    color: #777f7f !important;
    display: inline-block;
    font-size: 14px;
    padding-top: 4px;
}

.alert-danger { color: #bd362f !important; }

h3 {
    font-size: 20px;
    font-weight: bold;
}

.summary-item {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #777f7f;
    display: block;
    height: 130px;
    padding: 25px 10px;
    position: relative;
    text-align: center;
}

.summary-item .badge, .summary-item .label {
    font-size: 18px;
    margin-left: 12px;
    position: absolute;
    top: 2px;
}

.summary-info, .summary-info > .fa, a.summary-info:hover { color: #777f7f; }

.summary-danger, .summary-danger > .fa, a.summary-danger:hover {
    color: #ce4844;
    font-weight: bold;
}

.box:hover, .summary-item:hover {
    background-color: #edf6f7;
    border-color: #00a3c4 !important;
    cursor: pointer;
}

h5 {
    color: #777f7f;
    display: inline-block !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 14px;
    margin-right: 30px;
    text-transform: uppercase;
}

.tabs {
    border-bottom: 1px solid #ced6d3;
    padding: 0;
}

.tabs h5 {
    display: inline;
    padding-bottom: 3px;
}

.tabs h5 a:hover { text-decoration: none; }

.tabs h5.active {
    border-bottom: 3px solid #181919;
    color: #181919;
}

.tabs h5.active a { color: #181919; }

.tabs a {
    color: #a8b3b1;
    cursor: pointer;
}

.tabs a:hover { color: #00a3c4; }

.tabs h5.active > a:hover {
    color: #181919;
    cursor: default;
    text-decoration: none;
}

.system-status:hover {
    background-color: #fff;
    border-color: #eee !important;
    cursor: default;
}

.normal { color: #a8b3b1; }

/* Failed messages overrides*/

.breadcrumb {
    background: none;
    margin-bottom: 0;
    padding-left: 0;
}

.breadcrumb > li a { color: #00a3c4; }

.breadcrumb > li:nth-child(2) {
    color: #777F7F;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 32px;
}

p.metadata { margin-bottom: 6px; }

span.metadata {
    display: inline-block;
    padding: 0px 20px 2px 0;
}

.metadata:first-child { padding-left: 0; }

.btn-sm {
    color: #00a3c4;
    font-size: 14px;
    font-weight: bold;
    padding: 0 36px 10px 0;
}

.box-no-click {
    padding-left: 0;
    padding-right: 0;
}

.box-no-click:hover {
    background: none !important;
    border-bottom: 1px solid #ced6d3 !important;
    border-left: none;
    border-right: none;
    border-top: none;
    cursor: default;
    padding-top: 21px;
}

.box-no-click:first-child:hover {
    border-top: 1px solid #ced6d3 !important;
    padding-top: 20px;
}

.box-no-click > div > div {
    padding-left: 0;
    padding-right: 0;
}

.box-no-click > div > div > div {
    padding-left: 0;
    padding-right: 0;
}

.btn-toolbar {
    padding: 12px 0 0;
}

div.btn-toolbar, div.form-inline { margin-bottom: 12px; }

.btn-toolbar button:last-child { margin-top: 0 !important; }

.action-toolbar {
    margin-top: 12px;
}

.control-label {
    float: left;
    padding-top: 6px;
}

.row.filter-toolbar, .row.action-toolbar {
    margin-left: -10px;
    margin-right: -14px;
}

.filter-toolbar input:before {
    font-family: 'FontAwesome';
    width: 20px;
    content: "\f0b0";
}

.filter-messages {
    display: inline-block;
}


.control-label {
    font-weight: normal;
    margin-right: 6px;
}

.sp-btn-menu {
    background: none;
    border: none;
    color: #00a3c4;
    padding-right: 0;
    padding-left: 0;
}

.sp-btn-menu:hover {
    background: none;
    border: none;
    color: #00a3c4;
    text-decoration: underline;
}

.dropdown-menu {
    left: initial;
}

.btn.sp-btn-menu:active, .btn-default.sp-btn-menu:active, .btn-default.sp-btn-menu.active, .open > .dropdown-toggle.btn-default.sp-btn-menu {
    background: none;
    border: none;
    color: #00a3c4;
    text-decoration: underline;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default.sp-btn-menu:focus, .btn-default.focus.sp-btn-menu {
    background: none;
    border: none;
    color: #00a3c4;
    text-decoration: underline;
}

.sp-btn-menu > i {
    color: #00a3c4;
}

.sp-pull-right {
    float: right;
}

.sp-pull-right > .dropdown-menu {
    right: 14px;
}

input.check {
    margin: 11px 14px 0 0;
    float: left;
}

input.check-label {
    margin: 4px 6px 0 0;
    float: left;
}

button.btn.btn-default {
    margin-left: 5px;
}

.action-toolbar .btn.btn-default:first-child {
    margin-left: 0;
}

.fa-error {
    color: #CE4844;
}

.fa-o {
    bottom: -0.5em;
    left: 1.2em;
    position: relative;
}

.msg-status {
    position: relative;
    display: inline-block;
    top: -1px;
    margin-right: 18px;
}

.badge.badge-important {
    background-color: #CE4844;
    background-image: none;
    border: none;
}

.onoffswitch {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    position: relative;
    width: 76px;
}

.onoffswitch-checkbox { display: none; }

.onoffswitch-label {
    border: 2px solid #929E9E;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin-top: 8px;
    overflow: hidden;
}

.onoffswitch-inner {
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    box-sizing: border-box;
    color: white;
    display: block;
    float: left;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0;
    width: 50%;
}

.onoffswitch-inner:before {
    background-color: #00A3C4;
    color: #FFFFFF;
    content: "ON";
    padding-left: 10px;
}

.onoffswitch-inner:after {
    background-color: #F2F6F7;
    color: #929E9E;
    content: "OFF";
    padding-right: 10px;
    text-align: right;
}

.onoffswitch-switch {
    background: #FFFFFF;
    border: 2px solid #929E9E;
    border-radius: 20px;
    bottom: 0;
    display: block;
    margin: 6px;
    position: absolute;
    right: 42px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 22px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner { margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch { right: 0px; }

.de-emphasize {
    color: #777F7F;
    font-weight: normal;
}

p.endpoint-metadata {
    display: inline-block;
    margin-top: 4px;
    padding-right: 30px;
}

.endpoint-metadata sp-moment { padding-top: 0; }


.fa-stack-2x { font-size: 24px; }

.events .box { padding-bottom: 0; }

.events p.lead { padding-bottom: 10px; }

.fake-link {
    color: #00a3c4;
    text-decoration: none;
}

.version-info-container { width: 100% !important; }

.version-info {
    color: #777F7F;
    display: inline-block;
    margin: 4px 0 10px;
}

.version-info a { font-weight: normal; }

.version-info a:hover { font-weight: normal; }

.version-separator {
    color: #BCC6C2;
    margin: 0 15px;
}


/* Add animation */

.list-animation.ng-enter.ng-enter-active,
.list-animation.ng-leave {
    -moz-transition: opacity 300ms linear;
    -webkit-transition: opacity 300ms linear;
    opacity: 1;
    transition: opacity 300ms linear;
}

/* Remove animation */

.list-animation.ng-leave.ng-leave-active,
.list-animation.ng-enter {
    -moz-transition: opacity 300ms linear;
    -webkit-transition: opacity 300ms linear;
    opacity: 0;
    transition: opacity 300ms linear;
}

.group-title {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0;
}

.group-message-count {
    color: #A8B3B1;
    font-size: 16px;
    margin: 4px 0 12px;
}


.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

nav {
    padding-left: 15px;
    padding-right: 15px;
}

.row.box.ng-scope {
    padding-left: 0;
    padding-right: 0;
}

.msg-row {
    padding-left: 0;
    padding-right: 0;
}

.modal-open {
    overflow-y: scroll;
}

.no-side-padding {
    padding-right: 0;
    padding-left: 0;
}

.row.list-count {
    margin-top: 24px;
    margin-left: -10px;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
}


@media only screen and (max-width: 992px) {
}


@media only screen and (max-width: 768px) {
    .filter-toolbar .input-group {
        margin-bottom: 6px;
    }
    div.sp-pull-right {
        display: inline-block;
        float: none;
        margin-top: 0px;
    }

    button.btn.btn-default {
        margin-left: 0;
        margin-right: 6px;
        margin-bottom: 6px;
    }
}


@media only screen and (max-width: 480px) {
    .sidebar-label { margin: 3px 0 14px; }

    .btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group { float: left !important; }

    button.btn.btn-default.ng-binding.ng-isolate-scope { margin-right: 4px !important; }

    div.btn-toolbar, div.form-inliner {
        margin-bottom: 12px;
    }

    .filter-toolbar, .action-toolbar {
        margin-top: 2px;
    }

    div.sp-pull-right {
        display: inline-block;
        float: none;
        margin-top: 4px;
    }

}

@media only screen and (max-width: 320px) {
    div.btn-toolbar, div.form-inliner {
        margin-bottom: 0px;
    }
}