<section ng-if="grouping.selectedGrouping == 0">
    <div class="sp-loader" ng-if="loading"></div>
    <div ng-include="'modules/monitoring/views/monitoring_not_available.html'" ng-show="!endpoints.length && !loading && hasData"></div>
    <div ng-include="'modules/monitoring/views/monitoring_no_data.html'" ng-show="!endpoints.length && !loading && !hasData"></div>

    <div ng-show="endpoints.length" class="row box box-no-click table-head-row">
        <div class="col-xs-2 col-xl-7">
            <sortable-column property="'name'" ref="order">
                Endpoint name
            </sortable-column>
        </div>
        <div class="col-xs-2 col-xl-1 no-side-padding">
            <sortable-column property="'metrics.queueLength.average'"
                             ref="order"
                             uib-tooltip="Queue length: The number of messages waiting to be processed in the input queue(s) of the endpoint.">
                Queue Length <span class="table-header-unit">(msgs)</span>
            </sortable-column>
        </div>
        <div class="col-xs-2 col-xl-1 no-side-padding">
            <sortable-column property="'metrics.throughput.average'"
                             ref="order"
                             uib-tooltip="Throughput: The number of messages per second successfully processed by a receiving endpoint.">
                Throughput <span class="table-header-unit">(msgs/s)</span>
            </sortable-column>
        </div>
        <div class="col-xs-2 col-xl-1 no-side-padding">
            <sortable-column property="'metrics.retries.average'"
                             ref="order"
                             uib-tooltip="Scheduled retries: The number of messages per second scheduled for retries (immediate or delayed).">
                Scheduled retries <span class="table-header-unit">(msgs/s)</span>
            </sortable-column>
        </div>
        <div class="col-xs-2 col-xl-1 no-side-padding">
            <sortable-column property="'metrics.processingTime.average'"
                             ref="order"
                             uib-tooltip="Processing time: The time taken for a receiving endpoint to successfully process a message.">
                Processing Time <span class="table-header-unit">(t)</span>
            </sortable-column>
        </div>
        <div class="col-xs-2 col-xl-1 no-side-padding">
            <sortable-column property="'metrics.criticalTime.average'"
                             ref="order"
                             uib-tooltip="Critical time: The elapsed time from when a message was sent, until it was successfully processed by a receiving endpoint.">
                Critical Time <span class="table-header-unit">(t)</span>
            </sortable-column>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 no-side-padding">
            <div class="row box endpoint-row" ng-repeat="endpoint in endpoints | filter: filter | orderBy: order.expression" ng-mouseenter="endpoint.hover1=true" ng-mouseleave="endpoint.hover1=false">
                <div class="col-xs-12 no-side-padding">
                    <div class="row">
                        <div class="col-xs-2 col-xl-7 endpoint-name name-overview">
                            <div class="row box-header">
                                <div class="col-lg-max-8 no-side-padding lead righ-side-ellipsis endpoint-details-link">
                                    <a ng-click="endpoint.isExpanded = !endpoint.isExpanded" ng-href="{{getDetailsUrl(endpoint)}}" uib-tooltip="{{endpoint.name}}">{{endpoint.name}}</a>
                                </div>
                                <span class="endpoint-count" ng-if="endpoint.connectedCount || endpoint.disconnectedCount" uib-tooltip="Endpoint instance(s): {{endpoint.connectedCount || 0}}">({{endpoint.connectedCount || 0}})</span>
                                <div class="col-xs-5 no-side-padding endpoint-status">
                                    <span class="warning" ng-if="endpoint.metrics.criticalTime.displayValue.value < 0">
                                        <i class="fa pa-warning" uib-tooltip="Warning: endpoint currently has negative critical time, possibly because of a clock drift."></i>
                                    </span>
                                    <span class="warning" ng-if="endpoint.isScMonitoringDisconnected">
                                        <i class="fa pa-monitoring-lost endpoints-overview" uib-tooltip="Unable to connect to monitoring server"></i>
                                    </span>
                                    <span class="warning" ng-if="endpoint.isStale && (!supportsEndpointCount || !endpoint.connectedCount)" uib-tooltip="No data received from any instance">
                                        <a class="monitoring-lost-link" ng-href="{{getDetailsUrl(endpoint)}}&tab=instancesBreakdown"><i class="fa pa-endpoint-lost endpoints-overview"></i></a>
                                    </span>
                                    <span class="warning" ng-if="endpoint.errorCount" uib-tooltip="{{endpoint.errorCount | metricslargenumber}} failed messages associated with this endpoint. Click to see list.">
                                        <a ng-if="endpoint.errorCount" class="warning btn" href="#/failed-messages/groups/{{endpoint.serviceControlId}}">
                                            <i class="fa fa-envelope"></i>
                                            <span class="badge badge-important ng-binding">{{endpoint.errorCount | metricslargenumber}}</span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-xl-1 no-side-padding">
                            <div class="row box-header">
                                <div class="no-side-padding">
                                    <graph plot-data="endpoint.metrics.queueLength" minimum-YAxis="{{smallGraphsMinimumYAxis.queueLength}}" avg-label-color="#EA7E00" metric-suffix="MSGS" class="graph queue-length pull-left"></graph>
                                </div>
                                <div class="no-side-padding sparkline-value">
                                    {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.queueLength.displayValue}}
                                    <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-xl-1 no-side-padding">
                            <div class="row box-header">
                                <div class="no-side-padding">
                                    <graph plot-data="endpoint.metrics.throughput" minimum-YAxis="{{smallGraphsMinimumYAxis.throughput}}" avg-label-color="#176397" metric-suffix="MSGS/S" class="graph throughput pull-left"></graph>
                                </div>
                                <div class="no-side-padding sparkline-value">
                                    {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.throughput.displayValue}}
                                    <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-xl-1 no-side-padding">
                            <div class="row box-header">
                                <div class="no-side-padding">
                                    <graph plot-data="endpoint.metrics.retries" minimum-YAxis="{{smallGraphsMinimumYAxis.retries}}" avg-label-color="#CC1252" metric-suffix="MSGS/S" class="graph retries pull-left"></graph>
                                </div>
                                <div class="no-side-padding sparkline-value">
                                    {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.retries.displayValue}}
                                    <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-xl-1 no-side-padding">
                            <div class="row box-header">
                                <div class="no-side-padding">
                                    <graph plot-data="endpoint.metrics.processingTime" minimum-YAxis="{{smallGraphsMinimumYAxis.processingTime}}" avg-label-color="#258135" is-duration-graph="true" class="graph processing-time pull-left"></graph>
                                </div>
                                <div class="no-side-padding sparkline-value" ng-class="endpoint.metrics.processingTime.displayValue.unit">
                                    {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.processingTime.displayValue.value}}
                                    <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                    <span ng-if="endpoint.isStale == false && endpoint.isScMonitoringDisconnected == false" class="unit"> {{endpoint.metrics.processingTime.displayValue.unit}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-xl-1 no-side-padding">
                            <div class="row box-header">
                                <div class="no-side-padding">
                                    <graph plot-data="endpoint.metrics.criticalTime" minimum-YAxis="{{smallGraphsMinimumYAxis.criticalTime}}" avg-label-color="#2700CB" is-duration-graph="true" class="graph critical-time pull-left"></graph>
                                </div>
                                <div class="no-side-padding sparkline-value" ng-class="[endpoint.metrics.criticalTime.displayValue.unit, {'negative':endpoint.metrics.criticalTime.displayValue.value < 0}]">
                                    {{(endpoint.isStale == true || endpoint.isScMonitoringDisconnected == true) ? "" : endpoint.metrics.criticalTime.displayValue.value}}
                                    <strong ng-if="endpoint.isStale || endpoint.isScMonitoringDisconnected">?</strong>
                                    <span ng-if="endpoint.isStale == false && endpoint.isScMonitoringDisconnected == false" class="unit"> {{endpoint.metrics.criticalTime.displayValue.unit}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>