<div class="modal-header">
    <h3 class="modal-title">Email configuration</h3>
</div>
<form name="notificationsForm" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="form-group" ng-class="{'has-error': notificationsForm.smtpServerAddress.$invalid}">
                <label for="smtpServerAddress">SMTP server address</label>
                <input type="text" id="smtpServerAddress" name="smtpServerAddress"
                    ng-model="settings.smtp_server"
                    class="form-control" required />
            </div>
            <div class="row"></div>
            <div class="form-group" ng-class="{'has-error': notificationsForm.smtpServerPort.$invalid}">
                <label for="smtpServerPort">SMTP server port</label>
                <input type="number" id="smtpServerPort" name="smtpServerPort"
                    ng-model="settings.smtp_port"
                    class="form-control" required />
            </div>
            <div class="row"></div>
            <div class="form-group">
                <label for="account">Authentication account</label>
                <input type="text" id="account" name="account"
                    ng-model="settings.authorization_account" class="form-control" />
            </div>
            <div class="row"></div>
            <div class="form-group">
                <label for="account">Authentication password</label>
                <input type="password" id="password" name="password"
                    ng-model="settings.authorization_password" class="form-control" />
            </div>
            <div class="row"></div>
            <div class="form-group">
                <input type="checkbox" id="enableTLS" name="enableTLS"
                    ng-model="settings.enable_tls" class="check-label" />
                <label for="enableTLS">Use TLS</label>
            </div>
            <div class="row"></div>
            <div class="form-group" ng-class="{'has-error': notificationsForm.from.$invalid}">
                <label for="from">From address</label>
                <input type="email" id="from" name="from"
                    ng-model="settings.from" class="form-control" required/>
            </div>
            <div class="row"></div>
            <div class="form-group" ng-class="{'has-error': notificationsForm.to.$invalid}">
                <label for="to">To address</label>
                <input type="email" id="to" name="to"
                    ng-model="settings.to" class="form-control" required/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="save(notificationsForm)">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</form>
