.dropdown-menu {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 100;
    text-align: left;
    list-style: none;
}

.dropdown-menu > li > a,
.dropdown-menu > span > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

ul.dropdown-menu > span > li > a > span {
    color: #aaa;
}

.dropdown-menu > span > li > a:hover,
.dropdown-menu > span > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}