@import 'bootstrap/dist/css/bootstrap.css';
@import '../../../angular/app/css/particular.css';

.Vue-Toastification__container.toast-container{
    width: 400px;
}

.Vue-Toastification__toast--default.vue-toast {
    background-color: #030303;
}
.Vue-Toastification__toast--success.vue-toast {
    background-color: #00C468;
}
.Vue-Toastification__toast--error.vue-toast {
    /* background-image: url('../../../angular/app/img/toast-danger.svg') !important;
    background-position-y: 30px;
    background-size: 28px 28px; */
    background-color: #BE0202;
}
.Vue-Toastification__toast--info.vue-toast {
    background-color: #1b809e;
}
.Vue-Toastification__toast--warning.vue-toast {
    /* background-image: url('../../../angular/app/img/toast-warning.svg') !important;
    background-position-y: 30px;
    background-size: 28px 28px; */
    background-color: #F3BC52;
}