.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #00a3c4;
  border-color: #ddd;
}

.pagination > li > a {
  text-decoration: none;
}

.pagination > li > a,
.pagination > li > span {
  color: #00729c;
  font-size: 14px;
}

.pagination {
  margin-top: 20px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}
