<span class="version-info">
    <span ng-hide="redirect">
        <i class="fa pa-redirect-source pa-redirect-small" uib-tooltip="Redirect"></i>
        No redirect (<a href="#" ng-click="$event.preventDefault();createRedirect()">create</a>)
    </span>
    <span ng-show="redirect" uib-tooltip="{{redirect.to_physical_address}}">
        <i class="fa pa-redirect-source pa-redirect-small" uib-tooltip="Redirect"></i>
        Redirect: {{redirect.to_physical_address}} (<a href="#" ng-click="$event.preventDefault();editRedirect(redirect)">modify</a>)
    </span>
</span>
