<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="sp-loader" ng-if="isSCConnecting"></div>
    <div ng-include="'js/views/sc_not_available.html'" ng-show="!isSCConnected && !isSCConnecting && !scConnectedAtLeastOnce"></div>

    <section name="pending_retries" ng-show="isSCConnected || scConnectedAtLeastOnce">

        <failed-message-tabs></failed-message-tabs>

        <div class="row">
            <div class="col-sm-12">

                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i> To check if a retried message was also processed successfully, enable <a href="https://docs.particular.net/nservicebus/operations/auditing" target="_blank">message auditing</a> <i class="fa fa-external-link fake-link"></i>
                </div>

                <div class="btn-toolbar">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 toolbar-inputs no-side-padding">

                            <div class="filter-input">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i> <span class="hidden-xs">Filter</span></div>
                                    <ui-select ng-model="vm.filter.searchPhrase" theme="bootstrap" on-select="vm.searchPhraseChanged()">
                                        <ui-select-match placeholder="Select a queue...">
                                            <span ng-bind="$select.selected.physical_address"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in vm.endpoints | filter: $select.search">
                                            <span ng-bind-html="item.physical_address | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="vm.clearSearchPhrase()" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 toolbar-menus no-side-padding">
                            <div class="filter-period-menu dropdown">
                                <label class="control-label"><i class="fa fa-calendar" aria-hidden="true"></i> Period:</label>
                                <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{vm.timeGroup.buttonText}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup()">All Pending Retries</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup('2', 'hours')">Retried in the last 2 Hours</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup('1', 'days')">Retried in the last 1 Day</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectTimeGroup('7', 'days')">Retried in the last 7 Days</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="sort-menu dropdown">
                                <label class="control-label"><i class="fa fa-sort" aria-hidden="true"></i> Sort:</label>
                                <button type="button" class="btn btn-default dropdown-toggle sp-btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-long-arrow-down" aria-hidden="true" ng-show="vm.sortDirection === 'asc'"></i>
                                    <i class="fa fa-long-arrow-up" aria-hidden="true" ng-show="vm.sortDirection === 'desc'"></i>
                                    {{vm.sortButtonText}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectGroup('message_type', 'asc')"><span class="fa fa-long-arrow-down" aria-hidden="true"></span> Message Type</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectGroup('message_type', 'desc')"><span class="fa fa-long-arrow-up" aria-hidden="true"></span> Message Type</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectGroup('time_of_failure', 'asc')"><span class="fa fa-long-arrow-down" aria-hidden="true"></span> Time Of Failure</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectGroup('time_of_failure', 'desc')"><span class="fa fa-long-arrow-up" aria-hidden="true"></span> Time Of Failure</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectGroup('last_modified', 'asc')"><span class="fa fa-long-arrow-down" aria-hidden="true"></span> Time Of Retry request</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="$event.preventDefault();vm.selectGroup('last_modified', 'desc')"><span class="fa fa-long-arrow-up" aria-hidden="true"></span> Time Of Retry request</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 toolbar-inputs no-side-padding">
                            <div class="action-btns">
                                <button type="button" class="btn btn-default" confirm-title="Are you sure you want to retry the selected messages?" confirm-message="Ensure that the selected messages were not processed previously as this will create a duplicate message." confirm-second-paragraph="NOTE: If the selection includes messages to be processed via unaudited endpoints, those messages will need to be marked as resolved once the retry is manually verified." confirm-click="vm.retrySelected()" ng-disabled="vm.selectedIds.length == 0"><i class="fa fa-repeat"></i> <span>Retry</span> ({{vm.selectedIds.length | number}})</button>
                                <button type="button" class="btn btn-default" confirm-title="Are you sure you want to mark as resolved the selected messages?" confirm-message="If you mark these messages as resolved they will not be available for Retry. Messages should only be marked as resolved only if they belong to unaudited endpoints." confirm-click="vm.markAsResolvedSelected()" ng-disabled="vm.selectedIds.length == 0"><i class="fa fa-check-square-o"></i> <span>Mark as resolved</span> ({{vm.selectedIds.length | number}})</button>
                                <button type="button" class="btn btn-default" ng-disabled="vm.filteredTotal === '0'" confirm-title="{{vm.retryAllConfirmationTitle()}}" confirm-message="{{vm.retryAllConfirmationMessage()}}" confirm-click="vm.retryAll()" confirm-ok-only="{{vm.isQueueFilterEmpty()}}"><i class="fa fa-repeat"></i> <span>Retry all</span> ({{vm.filteredTotal | number}})</button>
                                <button type="button" class="btn btn-default" ng-disabled="vm.filteredTotal === '0'" confirm-message="Are you sure you want to mark as resolved all {{vm.filteredTotal}} retried messages out of {{vm.total}}? If you do they will not be available for Retry. {{vm.filteredTotal < vm.total ? 'If you want to mark as resolved all clear the filtering.' : ''}}" confirm-click="vm.markAsResolvedAll()"><i class="fa fa-check-square-o"></i> <span>Mark all as resolved</span> ({{vm.filteredTotal | number}})</button>
                            </div>
                        </div>
                    </div>
                    <div class="row list-count">
                        <div class="col-xs-12">
                            <p ng-show="vm.areFiltersSelected()">
                                {{vm.filteredTotal}} messages corresponding to filter
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <no-data ng-show="vm.pendingRetryMessages.length === 0 && !vm.loadingData" title="pending retries" message="There are no messages waiting to be retried."></no-data>

        <busy ng-show="vm.loadingData" message="fetching more messages"></busy>

        <div ng-show="vm.pendingRetryMessages.length > 0" class="clearfix">
            <div class="col-sm-12 no-mobile-side-padding">
                <div class="row box repeat-item failed-message" ng-repeat="message in vm.pendingRetryMessages">
                    <multi-checkboxlist messages="vm.pendingRetryMessages" selected-ids="vm.selectedIds" message="message" multiselection="vm.multiselection"></multi-checkboxlist>

                    <div class="col-xs-11 failed-message-data" ng-mouseenter="message.hover2 = true" ng-mouseleave="message.hover2 = false">
                        <a href="#/failed-messages/message/{{message.id}}">

                            <div class="row" ng-class="{rowSelected: message.selected == true}">
                                <div class="col-sm-12">
                                    <div class="row box-header">
                                        <div class="col-sm-12 no-side-padding">
                                            <p class="lead break" ng-class="{'msg-type-hover': message.hover2}">{{message.message_type || 'Message Type Unknown - missing metadata EnclosedMessageTypes'}}</p>
                                            <p class="metadata">
                                                <span ng-if="message.submittedForRetrial" tooltip="Message was submitted for retrying" class="label sidebar-label label-info metadata-label">To retry</span>
                                                <i ng-if="message.submittedForRetrial" class="fa fa-info-circle" uib-tooltip="Messages set to retry need to be marked as resolved manually once the retry is manually verified. This is because they belong to unaudited endpoints."></i>
                                                <span ng-if="message.retried" tooltip="Message is being retried" class="label sidebar-label label-info metadata-label">Retried</span>
                                                <span ng-if="message.resolved" tooltip="Message is being marked as resolved" class="label sidebar-label label-info metadata-label">Resolved</span>
                                                <span ng-if="message.number_of_processing_attempts > 1" tooltip="This message has already failed {{message.number_of_processing_attempts}} times" class="label sidebar-label label-important metadata-label">{{message.number_of_processing_attempts}} Retry Failures</span>

                                                <span class="metadata"><i class="fa fa-clock-o"></i> Failed: <sp-moment date="{{message.time_of_failure}}"></sp-moment></span>
                                                <span class="metadata"><i class="fa pa-endpoint"></i> Endpoint: {{message.receiving_endpoint.name}}</span>
                                                <span class="metadata"><i class="fa fa-laptop"></i> Machine: {{message.receiving_endpoint.host}}</span>
                                                <redirect-link redirect="message.redirect" queue-address="{{message.queue_address}}"></redirect-link>
                                            </p>

                                            <pre class="stacktrace-preview" isolate-click ng-show="message.panel === 0">{{ message.exception.message }}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <ul uib-pagination ng-hide="vm.pager.total <= vm.pager.perPage" items-per-page="vm.pager.perPage" total-items="vm.pager.total" ng-model="vm.pager.page" max-size="10" boundary-link-numbers="true" ng-change="vm.loadMoreResults()"></ul>
            </div>
        </div>
    </section>
</div>