src/scaffolding.config

# Approval tests temp file
*.received.*

# npm artifacts
**/node_modules
ServicePulse.Host.Tests/node_modules
package-lock.json	

# Chutzpah folders	
_Chutzpah.*/	

# ServicePulse.Host app
ServicePulse.Host/app
