<platform-trial-expired ng-if="isPlatformTrialExpired"></platform-trial-expired>
<platform-expired ng-if="isPlatformExpired"></platform-expired>
<upgrade-protection-expired ng-if="isInvalidDueToUpgradeProtectionExpired"></upgrade-protection-expired>

<div class="container" ng-if="!isPlatformTrialExpired && !isPlatformExpired && !isInvalidDueToUpgradeProtectionExpired">
    <div class="sp-loader" ng-if="isSCConnecting"></div>
    <div ng-include="'js/views/sc_not_available.html'" ng-show="!isSCConnected && !isSCConnecting && !scConnectedAtLeastOnce"></div>

    <section ng-show="isSCConnected || scConnectedAtLeastOnce">
        <reindexingstatus></reindexingstatus>

        <section name="failed_message">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-show="vm.message" class="active break group-title"><h1 class="message-type-title">{{vm.message.message_type}}</h1></div>
                </div>
            </div>

            <no-data ng-show="vm.message.notFound" title="message failures" message="Could not find message. This could be because the message URL is invalid or the corresponding message was processed and is no longer tracked by ServiceControl."></no-data>

            <no-data ng-show="vm.message.error" title="message failures" message="An error occured while trying to load the message. Please check the ServiceControl logs to learn what the issue is."></no-data>

            <div class="row" ng-show="!vm.message.notFound && !vm.message.error">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="metadata group-title group-message-count message-metadata">
                            <span ng-if="vm.message.retried" tooltip="Message is being retried" class="label sidebar-label label-info metadata-label">Retried</span>
                            <span ng-if="vm.message.archived" tooltip="Message is being deleted" class="label sidebar-label label-warning metadata-label">Deleted</span>
                            <span ng-if="vm.message.resolved" tooltip="Message was processed successfully" class="label sidebar-label label-warning metadata-label">Processed</span>
                            <span ng-if="vm.message.number_of_processing_attempts > 1" tooltip="This message has already failed {{vm.message.number_of_processing_attempts}} times" class="label sidebar-label label-important metadata-label">{{vm.message.number_of_processing_attempts}} Retry Failures</span>
                            <span ng-if="vm.message.edited" tooltip="Message was edited" class="label sidebar-label label-info metadata-label">Edited</span>
                            <span class="metadata metadata-link" ng-if="vm.message.edited"><i class="fa fa-history" aria-hidden="true"></i> <a ng-href="#/failed-messages/message/{{vm.message.edit_of}}">View previous version</a></span>
                            <span class="metadata"><i class="fa fa-clock-o"></i> Failed: <sp-moment date="{{vm.message.time_of_failure}}"></sp-moment></span>
                            <span class="metadata"><i class="fa pa-endpoint"></i> Endpoint: {{vm.message.receiving_endpoint.name}}</span>
                            <span class="metadata"><i class="fa fa-laptop"></i> Machine: {{vm.message.receiving_endpoint.host}}</span>
                            <span class="metadata" ng-show="vm.message.redirect"><i class="fa pa-redirect-source pa-redirect-small"></i> Redirect: {{vm.message.redirect}}</span>
                        </div>
                        <div class="metadata group-title group-message-count message-metadata" ng-show="vm.message.archived">
                            <span class="metadata"><i class="fa fa-clock-o"></i> Deleted: <sp-moment date="{{vm.message.last_modified}}"></sp-moment></span>
                            <span class="metadata danger" ng-show="message.delete_soon"><i class="fa fa-trash-o danger"></i> Scheduled for permanent deletion: immediately</span>
                            <span class="metadata danger" ng-show="!message.delete_soon"><i class="fa fa-trash-o danger"></i> Scheduled for permanent deletion: <sp-moment class="danger" date="{{vm.message.deleted_in}}"></sp-moment></span>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="vm.message">
                    <div class="col-sm-12">
                        <div class="btn-toolbar message-toolbar">
                            <button type="button" ng-hide="vm.message.archived" ng-disabled="vm.message.retried || vm.message.resolved" class="btn btn-default" confirm-title="Are you sure you want to delete this message?" confirm-message="If you delete, this message won't be available for retrying unless it is later restored." confirm-click="vm.archiveMessage()"><i class="fa fa-trash"></i> Delete message</button>
                            <button type="button" ng-hide="!vm.message.archived" class="btn btn-default" confirm-title="Are you sure you want to restore this message?" confirm-message="Restored message will be moved back to the list of failed messages." confirm-click="vm.unarchiveMessage()"><i class="fa fa-undo"></i> Restore</button>
                            <button type="button" ng-disabled="vm.message.retried || vm.message.archived || vm.message.resolved" class="btn btn-default" confirm-title="Are you sure you want to retry this message?" confirm-message="Are you sure you want to retry this message?" confirm-click="vm.retryMessage()"><i class="fa fa-refresh"></i> Retry message</button>
                            <button type="button" class="btn btn-default" ng-show="vm.isEditAndRetryEnabled" ng-click="vm.editMessage()"><i class="fa fa-pencil"></i> Edit & retry</button>
                            <button type="button" class="btn btn-default" ng-click="vm.debugInServiceInsight($index)" tooltip="Browse this message in ServiceInsight, if installed"><img src="img/si-icon.svg"> View in ServiceInsight</button>
                            <button type="button" class="btn btn-default" ng-click="vm.exportMessage()" ng-show="!vm.message.notFound && !vm.message.error"><i class="fa fa-download"></i> Export message</button>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="row" ng-show="vm.message">
                        <div class="col-sm-12" ng-click="vm.toggleRowSelect(vm.message)">
                            <div class="row">
                                <div isolate-click class="col-sm-12 no-side-padding">
                                    <div class="tabs msg-tabs">
                                        <h5 ng-class="{active: vm.message.panel === 1}" ng-click="vm.togglePanel(vm.message, 1)"><a>Stacktrace</a></h5>
                                        <h5 ng-class="{active: vm.message.panel === 2}" ng-click="vm.togglePanel(vm.message, 2)"><a>Headers</a></h5>
                                        <h5 ng-class="{active: vm.message.panel === 3}" ng-click="vm.togglePanel(vm.message, 3)"><a>Message body</a></h5>
                                        <h5 ng-class="{active: vm.message.panel === 4}" ng-click="vm.togglePanel(vm.message, 4)"><a>Flow Diagram</a></h5>
                                    </div>

                                    <pre isolate-click ng-show="vm.message.panel === 0">{{ vm.message.exception.message }}</pre>
                                    <pre isolate-click ng-show="vm.message.panel === 1">{{ vm.message.exception.stack_trace }}</pre>
                                    <table isolate-click class="table" ng-show="vm.message.panel === 2 && vm.message.headers">
                                        <tbody>
                                            <tr class="interactiveList" ng-repeat="header in vm.message.headers">
                                                <td nowrap="nowrap">{{header.key}}</td>
                                                <td>
                                                    <pre>{{header.value}}</pre>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div isolate-click class="alert alert-info" ng-show="vm.message.panel === 2 && vm.message.headersUnavailable">{{vm.message.headersUnavailable}}</div>
                                    <pre isolate-click ng-show="vm.message.panel === 3 && vm.message.messageBody">{{vm.message.messageBody}}</pre>
                                    <div isolate-click class="alert alert-info" ng-show="vm.message.panel === 3 && vm.message.bodyUnavailable">{{vm.message.bodyUnavailable}}</div>
                                    <flow-diagram ng-if="vm.message.conversationId" conversation-id="{{vm.message.conversationId}}" ng-show="vm.message.panel === 4""></flow-diagram>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
