<div class="container">
    <div class="row">

        <div class="col-md-12 padded">
            <h1>Custom checks</h1>

        </div>

    </div>

</div>

<div class="container">
    <section name="custom_checks">
        <div class="row">
            <div class="col-md-12">
                <div infinite-scroll="loadMoreResults()" infinite-scroll-distance="0" infinite-scroll-disabled="disableLoadingData">
                    <div class="row box box-warning" ng-repeat="item in model.data | orderBy: '-reported_at'">
                        <div class="col-md-12">
                            <div class="row">
                              
                                <div class="col-sm-10">
                                    <div class="row box-header">
                                        <div class="col-md-12">
                                            <p class="lead">{{item.failure_reason}}</p>
                                            <p>{{item.custom_check_id}} </p>
                                            <p>{{item.category}} reported by {{item.originating_endpoint.name}} on {{item.originating_endpoint.host}} <sp-moment date="{{item.reported_at}}"></sp-moment></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-link btn-sm pull-right" tooltip="Mute this custom check so it doesn't show up as an alert" ng-click="mute(item)">
                                        <i>Mute</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row box " ng-show="!loadingData && model.total == 0">
                        <div class="col-md-12">
                            <div class="row">
                              
                                <div class="col-sm-12">
                                    <div class="row box-header">
                                        <div class="col-md-12">
                                            <p class="lead hard-wrap">No failed custom checks</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="loading" ng-show="loadingData"></div>

                </div>
            </div>
        </div>
    </section>
</div>