<div class="container">
    <reindexingstatus></reindexingstatus>

    <div class="row">
        <div class="col-sm-12 padded">
            <h1>Custom checks</h1>
        </div>
    </div>
</div>

<div class="container">
    <section name="custom_checks">

        <busy ng-show="loadingData" message="fetching more data"></busy>

        <no-data ng-show="!loadingData && model.total == 0" message="No failed custom checks"></no-data>

        <div class="row">
            <div class="col-sm-12">
                <div infinite-scroll="loadMoreResults()" infinite-scroll-distance="0" infinite-scroll-disabled="disableLoadingData">
                    <div class="row box box-warning box-no-click" ng-repeat="item in model.data | orderBy: '-reported_at'">
                        <div class="col-sm-12 no-side-padding">
                            <div class="row">

                                <div class="col-xs-10">
                                    <div class="row box-header">
                                        <div class="col-sm-12 no-side-padding">
                                            <p class="lead">{{item.failure_reason}}</p>
                                            <p>{{item.custom_check_id}} </p>
                                            <p>
                                                {{item.category}} reported by {{item.originating_endpoint.name}} on {{item.originating_endpoint.host}} <sp-moment date="{{item.reported_at}}"></sp-moment>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 pull-right">
                                    <button type="button" class="btn btn-default pull-right" title="Dismiss this custom check so it doesn't show up as an alert" ng-click="dismiss(item)">
                                        Dismiss
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</div>