name: CI
on:
  push:
    branches:
      - master
      - release-*
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: Windows
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3.2.0
        with:
          dotnet-version: 7.0.x
      - name: Add NODE_OPTIONS to ENVVARS # Must do this after checkout as checkout uses node v16 which will cause this to fail
        run: echo "NODE_OPTIONS=--openssl-legacy-provider" >> $env:GITHUB_ENV
      - name: AngularJs - Install Host npm packages
        run: npm run load
        working-directory: src/ServicePulse.Host/angular
      - name: AngularJs - Run lint
        run: npm run lint
        working-directory: src/ServicePulse.Host/angular
      - name: Build AngularJS and Vue.js
        run: PowerShell -File .\build.ps1
        working-directory: src/ServicePulse.Host
      - name: Remove NODE_OPTIONS to ENVVARS # Must do this before the next step so that the following node v16 steps don't fail
        run: echo "NODE_OPTIONS=" >> $env:GITHUB_ENV
      - name: Build
        run: dotnet build src --configuration Release
      - name: Upload assets
        uses: actions/upload-artifact@v3.1.3
        with:
          name: Assets
          path: src/ServicePulse.Host/bin/Release/
          retention-days: 7
      - name: Upload packages
        uses: actions/upload-artifact@v3.1.3
        with:
          name: NuGet packages
          path: nugets/
          retention-days: 7
      - name: Run .NET tests
        uses: Particular/run-tests-action@v1.6.0
      - name: Install test npm packages
        run: npm install
        working-directory: src/ServicePulse.Host.Tests
      - name: Run Javascript tests
        run: npm run test-firefox-ci
        working-directory: src/ServicePulse.Host.Tests
