<div class="container">
    <div class="row">
        <div class="col-sm-12 no-side-padding">
            <h1>Endpoints Overview</h1>
        </div>
    </div>
</div>

<div class="container">
    <section ng-show="true">
        <no-data ng-show="!endpoints.length" message="No active endpoints"></no-data>

        <div class="row box box-no-click">
            <div class="col-sm-4 no-side-padding">
                <div class="row box-header">
                    <div class="col-sm-12 no-side-padding">
                        <p class="lead"> Name</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 no-side-padding">
                <div class="row box-header">
                    <div class="col-sm-12 no-side-padding">
                        <p class="lead">Processing Time </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 no-side-padding">
                <div class="row box-header">
                    <div class="col-sm-12 no-side-padding">
                        <p class="lead">Critical Time </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12 no-side-padding">
                <div class="row box box-no-click" ng-repeat="endpoint in endpoints">
                    <div class="col-sm-12 no-side-padding">
                        <div class="row">
                            <div class="col-sm-4 no-side-padding">
                                <div class="row box-header">
                                    <div class="col-sm-12 no-side-padding">
                                        <p class="hard-wrap">{{endpoint.name}}</p> <span ng-if="endpoint.count">has {{endpoint.count}} errors</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 no-side-padding">
                                <div class="row box-header">
                                    <div class="col-sm-12 no-side-padding">
                                        <graph plot-points="endpoint.data.processingTime" color="#40bc42"></graph>
                                            {{endpoint.data.processingTimeAvg}} ms
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 no-side-padding">
                                <div class="row box-header">
                                    <div class="col-sm-12 no-side-padding">
                                        <graph plot-points="endpoint.data.criticalTime" color="#d64f21"></graph>
                                            {{endpoint.data.criticalTimeAvg}} ms
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</div>